[2013-11-15 21:23] cmbirk opened #22 "Add import script to admin panel"

[2013-11-15 21:24] cmbirk opened #24 "Add ability for document owners / staff to update bills and meta information"
Each change to the document will need to be saved as a git commit to the markdown document

[2013-11-15 21:29] cmbirk opened #27 "Add front end diffs for different bill milestones"
Should be able to toggle diffs against the version before it.  In the future you should be able to diff against any tagged version.

[2013-12-20 06:42] cmbirk opened #39 "Add documentation for API"

[2014-01-07 20:02] cmbirk opened #44 "Document how to set up Elasticsearch"
I found a gist that can help with this:

https://gist.github.com/rajraj/1556657

[2014-01-07 21:34] cmbirk opened #45 "Test unauthorized annotation creation through API"

[2014-01-17 06:08] cmbirk opened #60 "Create new secret key on deploy"
`php artisan key:generate`

[2014-01-22 17:05] seamuskraft opened #74 "User Account Creation & Log-In Process"
I like Change.org's sign in/log-in process: takes you to a new page w/ "Log In with Facebook" or other accounts on one side or "Sign Up" on the other.  But I like RapGenius' better (with everything inline, thereby "ranking" the method we want folks to sign up...we'd put log in with email address first).

Once you sign up, I like RapGenius' flow straight to the profile page.

[2014-01-22 17:06] seamuskraft opened #75 "User Account Confirmation Email"
It needs design and more content.  I like RapGenius' confirmation email.

[2014-01-22 17:20] seamuskraft opened #79 "Home Page "Latest Activity/News" Feed on the Right Side of the Page"
Instead of the "Getting Started" box there now, a catchy news feed like RapGenius' one.  I'm talking about the big boxes on the right side of the page (screen shot attached), with the dates/times/sharing and the pretty content and info.

This would pull in latest activity on Madison across the site, as well as pull in general news related to issues/bills/docs in Madison.  Like Google/Bing news + M

[2014-01-22 17:49] seamuskraft opened #90 "Document Page: Add General News Feed to Each Document/Public-Facing User Page or Issue Page"
The news feed would pull in latest activity for that bill, as well as latest news (via Google news, Bing News) and latest "major" waypoint activity (like if the bill moves from draft to formally introduced), and individual social shares/discussion activity, etc.

Each type of item in the news feed should be colored/labeled as to where it came from, when, and when the user clicks on it they're take

[2014-01-22 17:59] seamuskraft opened #93 "Document Page Design: Annotation Pop Up"
Add text that says what the user is about to do, i.e. "Comment," "Edit," "Ask" and "Drop Pin" (for future reference).  Like the attached screen shot.

![annotate](https://f.cloud.github.com/assets/2349231/1976759/e7007f10-838e-11e3-8ba2-a84a8469dacc.png)

[2014-01-22 18:00] seamuskraft opened #94 "Document Page Design: Yellow Highlighted Sections"
I really don't like the highlighted yellow sections all over the page.  I like doing a dotted underline to indicate "something is here other than the document text" like the State Decoded has for words that are linked/defined.

[2014-01-22 18:02] seamuskraft opened #95 "Document Page: Add Tag Cloud"
Below the participate toolkit, like the State Decoded does.

[2014-01-22 18:03] seamuskraft opened #96 "Document Page: Prompt w/ Popular Tags"
When the user is going to tag his or her comment/edit/etc. they should be prompted with the most popular tags as they type (like Tumblr does it).

[2014-01-22 18:05] seamuskraft opened #97 "Document Page: Clicking on Comments/Edits in the Participate Toolkit"
The user shouldn't be taken to a whole new page when they click on the items in the news/activity feed.  What they click on should be previewed on the same page, with the option to "share", "copy link", "read more (in a new window"

[2014-01-22 18:07] seamuskraft opened #98 "Document Page Design: Display More Info for Each Item in News/Activity Feed"
I know fuller designs exist for this part of Madison, but just logging once so we don't forget.  We should color code these, too, based on what kind of news/activity it is, if it's getting a lot of views/shares/discussions/sentiment/etc.

[2014-01-22 18:08] cmbirk opened #99 "Elasticsearch _search route not matching results"
The matching criteria needs to be reduced.  If you put a long enough query in, ES will match the results, but simpler queries need to match.

[2014-01-22 18:10] seamuskraft opened #100 "Document Page: Sharing Comments/Edits/Discussion"
After a user makes a comment/edit/discussion post, they should be able to preview it and share it however they want (socials, email, etc) BEFORE being taken back to the document page.  Like the "Leave a Note" feature.

[2014-01-22 18:11] seamuskraft opened #101 "Document Page Design: Add Document Status "Breadcrumbs" for Each Document"
I know we have these in the designs, but making a note so we don't forget.  These should be plugged in even though they aren't necessarily "turned on," (like we've done with the "Bookmark" feature).

[2014-01-22 18:55] michaelhardesty opened #109 "Top related stories on right side of page"
on ValleyWag/Gawker, there’s a list of titles under “Top Stories” on the left side of the page, http://valleywag.gawker.com/

Once you click on an article (http://valleywag.gawker.com/twitter-fires-hated-exec-1506117610), that section turns to a “Recommended by ____” … this section can be a space for bills related to that certain bill or other bills in that same subsection

[2014-01-23 19:33] rtsio opened #116 "Flags need user-friendly explanation"
Little flags next to thumbs up/down need some explanation - I'm assuming they mean "flag this" or "report this", but that's only because I spend 10 hours a day on the Internet. Other people might assume they mean "favorite" or something else. I like the minimalist design, but it would help to have even a tiny label.

[2014-02-05 05:35] cmbirk opened #126 "Store document html in /public"
This is so angular can load the doc content as a template.  It has to be publicly accessible.

[2014-02-05 17:46] seamuskraft opened #127 "Create links from citations to corresponding StateDecoded instances"
Suggested by @vzvenyach for users drafting DC Council documents in Madison.

[2014-02-06 23:12] cmbirk opened #128 "Add Annotator touch plugin"

[2014-02-07 23:49] cmbirk opened #149 "Add 'read' notifications"
If the sponsor of a document hovers on a user comment or clicks it in the sidebar, the user should be notified that their comment was read by the sponsor via email.

[2014-02-08 00:00] cmbirk opened #150 "Add crafty signup language"
Similar to the signup process at zapier.com

[2014-02-19 22:21] cmbirk opened #154 "Load documents on scroll on the homepage"
Right now only the 10 most recent are being loaded.  We need to load more on scroll if we have them.

[2014-02-19 22:21] cmbirk opened #155 "Homepage filter should access all documents"
Right now it only uses the documents that have been loaded on the homepage

[2014-02-21 20:18] cmbirk opened #158 "Create Document Import / Export"
Export should create a .sql file that can be imported into another Madison instance.  This includes statuses, categories, etc.  The import should import the sql and then re-cache the document on the file system.

[2014-02-24 20:32] bryanconnor opened #160 "Change to document list information order"
cc @seamuskraft @krues8dr

@cmbirk and I discussed changing the information architecture slightly for document list so that on the first line there is:

Document Title /  Document Status / Document Categories

and the second line is:

All other document dates.

[2014-02-27 20:12] cmbirk opened #163 "Sort list page by document action dates"

[2014-02-27 20:38] cmbirk opened #165 "Open Annotation viewer when the sidebar annotation is clicked"

[2014-03-10 20:58] cmbirk opened #168 "Dashboard Dates update shown when other date deleted"
If there are multiple dates, the update shows for an un-modified date when a different date is deleted.

[2014-03-26 16:13] bryanconnor opened #173 "Change comment input to textarea"
I think a textarea with line wrap and some more space would feel more standard and might even encourage better comments.

[2014-04-01 18:44] seamuskraft opened #185 "Add Inspectlet Heat-Mapping"
@bryanconnor do you think this is our best option?  Thanks!

[2014-04-03 02:56] rtsio opened #190 "Unexpected behavior if you keep clicking like/dislike"
Kept clicking on the like and dislike buttons over and over, and somehow got to this:

![capture](https://cloud.githubusercontent.com/assets/3372355/2599245/90963bf4-badb-11e3-9b34-a1da2233f80e.PNG)

Not sure where the problem is in the code.

[2014-04-03 16:57] cmbirk opened #192 "Add the ability for other users to 'suggest' edits to another user's edit"
Rapgenius does this very well.  Instead of simply adding another edit suggestion, a user can offer a suggested edit to another user's edit.  If you look at a rapgenius annotation, you can click 'authors' and see who helped draft that annotation.

[2014-04-04 15:37] cmbirk opened #199 "Require verified users to provide a url for themselves"
This will help us identify the individual beyond just their email, but it also allows other users to understand who this person is and why they should stand out.

[2014-04-04 15:40] cmbirk opened #200 "Add easy cross references between annotations"
This should work similar to Github's issue references.  It should be very simple to reference a different annotation with a link in one that I'm creating.  This may be by a certain syntax as Github uses, or it could be a copy link in the other annotations.

[2014-04-04 15:40] cmbirk opened #201 "Add legislation requests"
Users should be able to request certain legislation that isn't on particular instances already.

[2014-04-09 19:57] cmbirk opened #208 "Activity re-order animates incorrect items"
Activities can only move up.  This results in incorrect activities flashing when one is disliked.  Example:

[1, 2, 3, 4, 5 ] => _activity 3 liked_ => [**3**, 1, 2, 4, 5]

[1, 2, 3, 4, 5] => _activity 1 disliked_ => [**2**, **3**, **4**, **5**, 1]

[2014-04-16 18:28] cmbirk opened #210 "Fail gracefully if Elasticsearch not running"
Madison should still be allowed to run if Elasticsearch goes down for some reason.  The search page should just be broken ( or don't show the search bar )

[2014-05-07 19:05] cmbirk opened #225 "Allow users to login via Google"

[2014-05-20 21:00] cmbirk opened #238 "Allow users to suggest improvements to other users' comments / annotations"
Notifications would be sent to the comment / annotation owner offering an improvement  instead of just adding another comment.  This would work similar to the way that they do it on rapgenius.  This improves the quality of the conversation without adding more noise.

[2014-05-20 21:02] cmbirk opened #239 "Easy reference links"
Easy references to other annotations / comments similar to the way github does it with issues.

[2014-05-20 21:05] cmbirk opened #243 "Allow sponsors to prime the conversations"
Only sponsors & verified users would be able to post for a particular time frame

[2014-05-22 01:17] cmbirk opened #245 "Add bill descriptions"
@bryanconnor @seamuskraft We have access to bill descriptions for the House:

http://www.gpo.gov/fdsys/bulkdata/BILLSUM/113/hr

but they can be pretty lengthy.  What are your thoughts on how to best present those on the document pages?

[2014-05-29 15:51] leilis opened #250 "Verified user account request notification"
Set up a system to notify Madison users when their verified user account request has been accepted.

[2014-05-29 15:53] leilis opened #251 "Verified user account visualization"
Find a way to visually highlight whether a Madison user has a verified account or not.

This could be as simple as a small line of text that says "Verified User" under their name.

[2014-06-03 14:40] cmbirk opened #258 "Section translations / summaries"

[2014-06-03 14:57] cmbirk opened #261 "Allow section tagging"

[2014-06-03 14:59] cmbirk opened #263 "Export documents in various formats"

[2014-06-03 15:00] cmbirk opened #265 "Export document dates to a calendar"

[2014-06-03 15:00] cmbirk opened #266 "Allow users to subscribe to document date reminders"

[2014-06-03 15:01] cmbirk opened #267 "Allow users to enrich their profiles via 3rd parties"

[2014-06-03 15:02] cmbirk opened #269 "Allow users to specify notes as private"

[2014-06-03 15:03] cmbirk opened #270 "Allow users to share specific notes"

[2014-06-03 15:05] cmbirk opened #274 "Include budget information with policy documents"

[2014-06-03 15:06] cmbirk opened #275 "Include document version explanations"

[2014-06-03 15:07] cmbirk opened #276 "Include official votes / amendments on policy documents"

[2014-06-03 15:07] cmbirk opened #278 "Allow users to easily invite new users"

[2014-06-03 15:08] cmbirk opened #280 "Allow users to propose new policy documents"

[2014-06-03 15:09] cmbirk opened #281 "Allow users to propose page changes to sponsors"

[2014-06-03 15:11] cmbirk opened #285 "Include impact information with policy documents"

[2014-06-03 15:13] cmbirk opened #288 "Allow users to notify sponsors of their willingness to testify"

[2014-06-03 15:14] cmbirk opened #289 "Present list of users for / against each document"

[2014-06-03 15:15] cmbirk opened #290 "Allow users to upload related documents"

[2014-06-03 15:27] cmbirk opened #291 "Create informative home / splash page"

[2014-06-04 19:47] leilis opened #293 "Add ability for admin to save document without publishing"

[2014-06-06 16:48] leilis opened #297 "Add Activity Filter by Tag"
So that users can more easily find conversations in which they want to be involved

[2014-06-20 17:09] bryanconnor opened #307 "More readable typeface for documents"
Currently documents are set in Helvetica which is not known for being easy to read as body copy. If we want to improve the reading experience for documents I suggest we use a different typeface for documents (and for the whole site to be consistent).

Google fonts is free and has a number of good options including Open Sans (http://www.google.com/fonts/specimen/Open+Sans) and Lato (http://www.goog

[2014-06-25 20:57] bryanconnor opened #310 "Playing video / audio from hearings on related document pages"
Based on my chat with @cmbirk I wanted to put up a few options for this.

The first one that came to mind puts the live event pretty front and center.
![screen shot 2014-06-25 at 4 53 08 pm](https://cloud.githubusercontent.com/assets/1190829/3391493/c91013e0-fcaa-11e3-8682-eea2df83f377.png)

Here's an audio only for that same view.
![screen shot 2014-06-25 at 4 54 48 pm](https://cloud.githubuserco

[2014-06-30 15:17] cmbirk opened #315 "Allow group owners to sign up / 'invite' new email accounts when adding to group"

[2014-07-01 16:04] rtsio opened #316 "Group dropdown gets cut off"
The 'Change Group' menu goes offscreen. Using Chrome on Mac OS, 1440 x 900 res, window is 2/3 of desktop size.

![cutoff](https://cloud.githubusercontent.com/assets/3372355/3445645/6c1c46f2-0139-11e4-9d51-85fe6e86c56f.png)

[2014-07-02 15:45] cmbirk opened #324 "Test user signup sends confirmation email"
I know there is a laracast on testing emails.  I would check the video there on how to test this ( theirs are short ).

[2014-07-07 20:51] rtsio opened #337 "Testing suite"
Instead of creating 40 separate issues, I'm going to track all the tests I've come up with here in Markdown @cmbirk @krues8dr .

+ Sign in
  - Attempting to sign in without email verification
  - [**functional**] Clicking on email link verifies account
+ Request verified account
  - Verify with admin
  - [**functional**] Check that non-admin users are not authorized to verify
+ Request independent

[2014-07-08 14:13] hasantayyar opened #339 "Ignoring bower_components folder"
This is a suggestion about clean codebase and less painful merges.

[2014-07-09 20:32] cmbirk opened #344 "setIndependentAuthor in User model not used"
Is this used anywhere?

[2014-07-10 03:16] cmbirk opened #348 "Navbar dropdown below content in smaller viewports"
When the navbar is reduced to the hamburger icon, the navbar dropdown is hidden below the main content.

[2014-07-11 16:28] rtsio opened #361 "Elasticsearch BroadcastShardOperationFailedException"
I am getting this on a clean database, clean pull, clean index and clean elasticsearch when trying to view documents on the homepage:

"{"count":0,"_shards":{"total":5,"successful":0,"failed":5,"failures":[{"index":"madison","shard":1,"reason":"BroadcastShardOperationFailedException[[madison][1] ]; nested: QueryParsingException[[madison] request does not support [term]]; "},{"index":"madison","sha

[2014-07-11 19:02] cmbirk opened #363 "Allow Admins to delete documents"
**We need to ensure anything deleted here is a *Soft Delete* **

This will entail deleting:

* The document content
* Any document comments
* Any document annotations
  * Any annotation permissions, tags, ranges
  * Any annotation sub-comments
  * Any note_metas associated with the annotation ( likes, dislikes, flags )
* Any document metas ( support / oppose )
* Document sponsors, dates, statuses,

[2014-07-11 20:04] cmbirk opened #364 "Notification email madison link should use base url"
In notifications.blade.php we have

`<p> &nbsp;&ndash; Your friends at <a href="{{ url('/', $parameters = array(), $secure = null) }}">Madison</a>.</p>`

The linked text should be the full domain (ie. mymadison.io or dc.mymadison.io ) or provide that information somewhere else in the message.  This will help with confusion for users who are members of multiple instances.

[2014-07-11 20:38] cmbirk opened #365 "Pass laravel session flash messages to angular growl"
I keep going back and forth on this.  I would like for our notifications to be standardized, but the only way I can think to do this is write the flash messages into a script tag - which is pretty hacky.

[2014-07-11 21:08] cmbirk opened #368 "Create DEPLOY.md instruction file"
To describe how to set up custom deployments via Rocketeer

[2014-07-14 16:26] cmbirk opened #374 "Layout upgrade steps to Laravel 4.2"

[2014-07-16 00:36] cmbirk opened #385 "Fix JS sourcemap to debug errors in the browser"
This isn't working because many of our JS files aren't publicly accessible.  Many of the routes are probably incorrect.

[2014-07-16 16:29] cmbirk opened #386 "Allow login via LinkedIn"

[2014-07-16 17:31] rtsio opened #389 "Automate testing suite"
@cmbirk here is what I've figured out so far:

Testing with chrome requires Chrome installed and the Selenium JAR to be running and configured with chromedriver path.

Testing with PhantomJS is easier. Run `npm install phantomjs` and then `phantomjs --webdriver=4444` (this can be automated using grunt). Change acceptance.suite.yml to use `browser: phantomjs`. Running a test like this, however, giv

[2014-07-22 17:22] cmbirk opened #390 "Create default template for notifications"
This should be a switch statement.  There should be a default template if you just want to fire an event with a message and a recipient.

[2014-07-22 17:27] cmbirk opened #391 "Non-subscription notifications"
We'll want to automate some notifications - ones that users don't specifically subscribe to.  Right now notification recipients are pulled from the notifications table, but we won't want to store a record for every user on global notifications.

[2014-07-22 17:33] cmbirk opened #392 "Set from email and from address as a constant"
Instead of replicating the values in every method call

[2014-07-22 19:35] cmbirk opened #395 "Notify users when a new version of a document is added that they've engaged with"

[2014-07-23 21:07] cmbirk opened #401 "Validation error should be more clear when requesting verified status"
Right now - when requesting verified status - if you don't add your phone number it just says phone number is required.  We should be more clear that phone number is required to be verified.

[2014-07-29 14:34] cmbirk opened #405 "Address for groups unable to handle foreign addresses"
What is the best way to address this?

[2014-07-30 17:56] cmbirk opened #409 "Remove references to VERIFY_REQUEST_ADMIN event"
This is no longer necessary

[2014-07-31 18:28] cmbirk opened #410 "getLink unit test"
In the Annotation and Comment models

[2014-07-31 18:28] cmbirk opened #411 "getFeedItem unit test"
In the Annotation and Comment models

[2014-07-31 19:27] rtsio opened #413 "Composer update runs out of memory"
On running `composer update`, PHP will use over 1GB in memory and eventually stop. This depends on the environment, but I can't find what triggers it:

```PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 134217728 bytes) in phar:///usr/local/Cellar/composer/1.0.0-alpha8/libexec/composer.phar/src/Composer/DependencyResolver/Solver.php on line 170```

This is a

[2014-08-01 15:20] rtsio opened #414 "Reddit-style comments on annotations"
@krues8dr @cmbirk @seamuskraft @leilis Currently I have these working in the comment section. Do we also want to enable these in the annotation panel as well?

[2014-08-05 14:44] bryanconnor opened #422 "Add a breadcrumb bar to the edit group page"
Breadcrumbs are present on other layers of the group hierarchy but not on the group editing page.

[2014-08-05 14:45] bryanconnor opened #423 "The link at the top of the breadcrumb list for groups should go to the list of groups instead of the administrative dashboard"
The link says groups but takes you to the administrative dashboard. Does this only happen for administrators?

[2014-08-05 14:48] bryanconnor opened #424 "Make ability to add members to a group more visible and usable"
Currently the only way to add members to a group is to create the group then edit it again and see that a new text link has been added to add members.

A quick fix would be to add a dedicated link to add members to the group listing page. When you create a group you are taken back to the list page where you see a link to add members.

There should also be another button here to edit the settings o

[2014-08-05 14:53] bryanconnor opened #425 "Status messages need styling (currently bootstrap default)"

[2014-08-05 15:07] bryanconnor opened #427 "Fix padding and alignment of document editor tabs and preview button"

[2014-08-05 21:20] bryanconnor opened #433 "Improvements to how the document table of contents looks and works"
This design addresses the issue of the table of contents taking up a full column of space on a document page. It also questions whether it needs to always be visible.

![toc](https://cloud.githubusercontent.com/assets/1190829/3818847/be00871e-1ce4-11e4-89e3-aaccf1e93340.gif)

It came up as a part of my redesign of the document page recently. I think hiding the table of contents by default and show

[2014-08-05 22:16] cmbirk opened #436 "Users have to authorize twitter on every login"
This should only be a first-time login ask

[2014-08-06 19:05] cmbirk opened #438 "Create login / signup popups as directives"
Right now the content is loaded via an AJAX call.  This allows us to render other directives ( such as social logins ) as well.

[2014-08-07 21:47] rtsio opened #439 "Expanding a comment shifts page layout"
This is minor, but if the discussion page has one comment and that comment has one subcomment (the page is not big enough for a scrollbar to appear), expanding the comment makes the scrollbar appear on the side of the page (since you can now scroll down), shifting the entire page over. Reddit doesn't suffer from this - any way to fix it?

[2014-08-12 15:03] cmbirk opened #440 "Fire New User Event on OAuth user creation"

[2014-08-12 15:48] cmbirk opened #442 "Plug in Angular dashboard"
I really like this project:

https://github.com/Ehesp/Responsive-Dashboard

[2014-08-13 20:53] cmbirk opened #445 "Replace vagrant / puppet with Homestead"
[Homestead](http://laravel.com/docs/homestead) will be much easier to manage than our current vagrant / puppet setup.

[2014-08-13 20:59] cmbirk opened #446 "Look in to PaaS options"
Right now I'm seeing [Forge](https://forge.laravel.com/), [Fortrabbit](http://fortrabbit.com), and [Pagodabox](https://pagodabox.com/) pop up pretty much everywhere.  Not sure that they're good solutions over our own VPSes, but worth taking a look at.  Especially Forge, as it's created by the same guy that created Laravel and caters to the framework.

[2014-08-14 02:21] bryanconnor opened #447 "Change to the design of the document header"
I wanted to discuss a change I'd like to make to the header of the document page. All the markup stays the same but the alignment and background of the doc-info area change.

![doc-info-redesign](https://cloud.githubusercontent.com/assets/1190829/3913547/9a7fc8be-2337-11e4-9dae-44393cc4ec6d.png)

I think this is a big improvement to the document page but what do you guys think?
@cmbirk @leilis @se

[2014-08-15 20:40] cmbirk opened #449 "Trim() document titles before url-izing"
We're getting document titles to the effect of:

some-document-title-

with a hanging dash.  I assume this is because there's a space at the end that's being replaced.  We should trim the whitespace from the title before url-izing.

[2014-08-18 19:59] cmbirk opened #450 "Mark documents as read-only"
When importing all documents from the US House, we don't want to allow offices to change those.  The versions we import are the versions that were introduced, so they shouldn't change.  Instead, we can allow offices to 'copy' into a new document and post a new document.

Does that sound about right @seamuskraft ?

[2014-08-18 20:01] cmbirk opened #451 "Create product launch page for congress.mymadison.io"
@bryanconnor we want a launch page for our congressional instance to allow people to sign up for updates / express interest.  Should be pretty simple with just an email signup.

[2014-08-18 21:02] cmbirk opened #452 "Don't offer social logins if oauth_creds.yml file isn't included"

[2014-08-18 21:03] cmbirk opened #453 "Combine credential yml files into one file"
It's too difficult to keep track of what files are necessary.  It would be easier to keep track if all values were stored in one file.  We should be able to handle values that aren't set, however.

[2014-08-27 20:43] rtsio opened #458 "Known issues with tests"
Use this issue to track failing tests that we are aware of and know how to fix.

603455acb1e092c98666c46f86020008f352aaa6 passes if run from a local machine with Sauce Connect. Some issues are:

* Requesting verified status in Chrome will fail. The error will say that the `.alert-info` message was not found, because Chrome will actually be displaying an `.alert-danger` message due to not entering

[2014-09-09 20:10] cmbirk opened #462 "Add password check on email capture directive"
Right now if the directive doesn't have an email or a user it appears and asks for an email / password.  It should check for the password as well because Facebook or LinkedIn signups will have an email, but won't have a password.

[2014-09-10 17:26] leilis opened #463 "Clicking save button while editing should not take user outside of document"
Currently it takes you back to your "My Documents" page, which is annoying.

[2014-09-17 18:33] cmbirk opened #464 "Add loading icons when making API calls"
The most noticeable at the moment are likes / dislikes.

[2014-09-17 19:24] cmbirk opened #466 "catch all notification exceptions"
Errors with notifications should be logged and (maybe?) emailed to admins.  Any notification exceptions should be caught so they don't interrupt regular site operations.

[2014-09-18 20:41] cmbirk opened #467 "Migrate old calls from $cookie to ipCookie"
The angular cookie implementation is very lacking.  [ipCookie](https://github.com/ivpusic/angular-cookie) is a much better option.  This is already being plugged in for Angular Tour usage, but we should migrate all $cookie calls as well.

[2014-10-10 12:14] leilis opened #469 "User Error--creating new account"
From user Anasha, email address me@anasha.us, browser Chrome 38.0.2125.101 (OS X 10.9):

"I tried to create an account. I may have clicked create twice, because I got an error saying that the account already existed. Then I tried to login and it said "Please click the link sent to your email to verify your account."

"I then clicked "resend confirmation email" because I never got one, and filled o

[2014-11-24 21:56] seamuskraft opened #472 "Page Jumping Around"
After I make a comment on the US Public Participation Guide, it kicks me back to the top of the page...so I have to scroll down and find where I left off each time.  Rather annoying.

[2014-11-24 22:03] seamuskraft opened #473 "Admin Notifications Not Displaying"
When I changed the group sponsor name for the GSA playbook page (from OpenGov to U.S. GSA) a notification did not pop up.

[2014-11-25 14:46] leilis opened #474 "Filter by title not working"
Typing terms into filter bar and hitting enter yields no action at all.

[2014-11-25 14:49] leilis opened #475 "No way to clear filter"
When using the drop-down filtering menu there should be a way to clear all filtering and go back to the full list of documents.

[2014-11-26 14:34] DanielSchuman opened #476 "The ever expanding comment box"
I was able to expand the text box to type in, but cannot contract it. With each click, it grows larger and larger. (And is persistent to additional comments).

[2014-11-26 15:16] leilis opened #477 "User-Reported Issue: Unable to open US Pub. Participation Playbook w/IE 9.0 (Windows 7)"
11/26, 8:45am

From Frank Ning
Senior Policy Analyst, Health Canada
erning.han@hc-sc.gc.ca
via UserVoice

Hello,

I am a Canadian federal employee. I am very interested in this platform. I signed up and tried to open a file (US Public Participation Playbook) but without success. I wonder if there is limitation on access since I am not a US citizen? Please confirm. Thanks.

// I asked him if he has

[2014-11-26 17:47] seamuskraft opened #478 "Can't Save/Select Notification Settings"
On this page, should be easier to check boxes on what you want: https://mymadison.io/dashboard/notifications

[2014-12-05 20:18] leilis opened #482 "Password Reset Not Working"
From user SBuckley, 12/5/2014 at 3:09pm
Browser: Chrome 39.0.2171.65 (Windows 7)

I forgot my password, so I have tried a number of times, over several days, to get it to reset. But I get nothing in my inbox.

I have checked my spam-box, but nothing there either.

Do you have any ideas about what to do?

P.S. I set up another account using my Gmail, but I don't want to experiment with a reset, sin

[2014-12-08 22:10] cmbirk opened #483 "Remove slashes when generating slug for docs"
Example:

US Public Participation Playbook Draft 2 -- 12/8/14

generated

us-public-participation-playbook-draft-2----12/8/14

which caused errors trying to load the public view for obvious reasons.  When I edited the slug, it removed the slashes but it should remove them when generating initially as well.

Thanks @leilis for the heads up.

[2014-12-09 00:20] rodowi opened #484 "ext-curl missing in Vagrant environment"
composer fails during `vagrant up` setup:

==> default: Notice: /Stage[main]/App::Codebase/Composer::Exec[update-codebase]/Exec[composer_update_update-codebase]/returns:     - elasticsearch/elasticsearch 0.4.x-dev requires ext-curl * -> the requested PHP extension curl is missing from your system.

[2014-12-16 19:58] cmbirk opened #485 "Modify ga.js to work with ui-router state changes"
We don't want to lose pageview tracking.  Exact implementation is here:

http://www.arnaldocapo.com/blog/post/google-analytics-and-angularjs-with-ui-router/72

but we'll want to check for the existence of $window.ga first.

[2014-12-20 02:43] rodowi opened #486 "Vagrant setup needs some config tweaks to run without errors"
This is how I fixed my local vagrant setup:

1) Composer was failing due to Github's API rate limits (see https://getcomposer.org/doc/articles/troubleshooting.md#api-rate-limit-and-oauth-tokens)

% vagrant ssh
% vagrant@precise64:/vagrant$ composer config -g github-oauth.github.com your_oauth_token
% vagrant@precise64:/vagrant$ composer install

2) DB access failed
% cp app/config/example_creds.ym

[2015-01-02 19:42] cmbirk commented on #486
Thanks @rodowi.  We're actually going to migrate to Laravel's [Homestead](http://laravel.com/docs/4.2/homestead), but I can certainly plug these in in the meantime.

[2015-01-05 02:55] cmbirk opened #487 "Clean up Gruntfile"
We should modularize it.  I like the way SailsJS does it by using separate files for each task and including all tasks in a given directory.

[2015-01-07 00:09] #487 closed

[2015-01-07 00:10] cmbirk commented on #487
Done.

[2015-01-07 00:10] cmbirk commented on #474
This is fixed in the issue477 branch.  Will test when that branch gets merged.

[2015-01-07 00:11] cmbirk commented on #467
I've removed angular-cookies from the dependency list, so this will throw an error any time that is being used.

[2015-01-12 16:14] cfox2001 opened #490 "CSS Not Rendering UL Bullets"
When using the built-in bulleted-list function, the bullets are not being rendered, which forces the use of html coding in Markdown.

[2015-01-18 19:07] philipjohn opened #493 "Error in exception handler."
Ubuntu 14.04
Apache 2.4.7
PHP 5.5.9.1
libyaml 0.1.4
mcrypt 2.5.8
MySQL 5.5.40
Laravel 4.1.25
node 0.10.25
Composer 1.0-dev
NPM 1.3.10

I'm pretty sure I have installed all the dependencies, and I've successfully run `composer install` but visiting Madison in the browser (having pointed Apache to the /public dir) I only see the following message:

My attempts to find out where that's coming from ha

[2015-01-20 16:28] krues8dr commented on #493
Sounds like node isn't in your `PATH`?  This might help:  https://github.com/joyent/node/issues/3911

[2015-01-20 16:32] krues8dr commented on #493
As to the first error, try setting `debug` to `true` in `config/app.php` to see if you get any more useful debug info.

[2015-01-22 18:22] #22 closed

[2015-01-22 18:23] #414 closed

[2015-01-22 18:25] cmbirk commented on #467
This should be handled in the issue477 branch.

[2015-01-22 18:25] #467 closed

[2015-01-22 18:26] cmbirk commented on #451
Still working on a redesign.  Closing this and will open an appropriate issue when we start the redesign process.

[2015-01-22 18:26] #451 closed

[2015-01-22 18:27] cmbirk commented on #447
Closing this in favor of our overall redesign.

[2015-01-22 18:27] #447 closed

[2015-01-22 18:29] cmbirk commented on #433
Closing this in favor of our overall redesign.

[2015-01-22 18:29] #433 closed

[2015-01-22 18:29] #427 closed

[2015-01-22 18:29] #425 closed

[2015-01-22 18:29] #423 closed

[2015-01-22 18:31] cmbirk commented on #385
We're using a different setup in Grunt now with the issue477 branch.  The pre-build.html file is being loaded, so this is no longer an issue.

[2015-01-22 18:31] #385 closed

[2015-01-22 18:32] cmbirk commented on #365
We've completely removed flash messages in favor of angular-growl.  Closing.

[2015-01-22 18:32] #365 closed

[2015-01-22 18:34] #269 closed

[2015-01-22 18:35] #245 closed

[2015-01-22 18:35] #201 closed

[2015-01-22 18:36] #173 closed

[2015-01-22 18:36] #158 closed

[2015-01-22 18:37] #149 closed

[2015-01-22 18:38] cmbirk commented on #79
Closing this in favor of our overall redesign.

[2015-01-22 18:38] #79 closed

[2015-01-27 22:58] cmbirk commented on #475
I found the issue here.  I've updated the sprites and this issue is resolved.

[2015-01-27 22:58] #475 closed

[2015-01-27 22:59] cmbirk commented on #473
This will be fixed with the issue477 branch merge.

[2015-02-05 23:19] leilis opened #495 "Bills on main page appearing in random order"
Instead of automatically organizing by date posted

[2015-02-06 00:06] leilis opened #496 "Error message when saving documents on Madison"
![screen shot 2015-02-05 at 7 04 12 pm](https://cloud.githubusercontent.com/assets/6437336/6071976/e9467260-ad69-11e4-9205-21f6ed4fdc3a.png)

(Resulted from clicking the "save" button at the bottom of a document I was editing)

[2015-02-06 00:07] cmbirk commented on #496
Thanks @leilis .  We already have a fix in place in the issue477 branch that I'm working on.

[2015-02-16 22:51] philipjohn commented on #493
Turned out to be as simple as file ownership. Thanks for the pointers!

[2015-02-16 22:51] #493 closed

[2015-03-03 04:01] rodowi opened #498 "Add a smtp_config variable for port"
SMTP port configuration is hardcoded as 587 in config/mail.php. Some services such as Mailtrap.io use a different port.

This could be easily fix by reading an optional SMTP port variable in config/mail.php.

[code]

[2015-03-03 04:11] rodowi opened #500 "Error messages in login popup are not being displayed"
The JavaScript code that builds the html to show login errors in the login popup is broken.

![screen shot 2015-03-02 at 10 09 58 pm](https://cloud.githubusercontent.com/assets/705860/6456442/07d5a73c-c129-11e4-8ffb-e2e152c86622.png)

https://github.com/opengovfoundation/madison/blob/master/public/js/doc.js#L30

[2015-03-04 20:40] comefectiva commented on #413
:D!

[2015-03-04 20:53] krues8dr commented on #413
The general advice for `composer` is to not run `composer update` if you're running out of memory - instead remove the installed libraries and run `composer install`.

I think this issue should be closed, as it's an upstream problem, and a note added to the README.

[2015-03-04 20:54] cmbirk commented on #413
+1

[2015-03-11 03:51] cmbirk opened #502 "Clean up Sass directory"
Making notes here.  @krues8dr, would appreciate feedback:

Keep:
* `_variables.scss` contains all of our app-wide colors
* `_socials.scss` contains all styles regarding social shares or logins
* `_annotator.scss` contains custom styles specific to annotator
* `_animations.scss` contains style specific to madison animations
  * this may be better suited as included in a page-level .scss file

Clean

[2015-03-11 13:11] krues8dr commented on #502
I don't really see much reason to keep any of it if we're starting over from scratch.  A lot of it will be similar, but there's no real reason to keep most of these.  I'm in favor of a more atomic subfolder structure, like [what we did on State Decoded](https://github.com/statedecoded/statedecoded/tree/master/htdocs/themes/StateDecoded2013/static/scss).

[2015-03-11 17:31] cmbirk commented on #502
I was mainly describing the structure.  I really like the way you guys did it in the StateDecoded though.  100% down with that.  I would like to keep external stylesheets in the `bower_components` directory though for ease of upgrade sake.

[2015-03-11 17:33] krues8dr commented on #502
[Yup, there's a hack for that.](https://github.com/krues8dr/krues8drdotcom-theme/blob/version-3/config.rb)

[2015-03-11 17:35] cmbirk commented on #502
Awesome.

What's the reason for the `.css.scss` extension here:

https://github.com/statedecoded/statedecoded/tree/master/htdocs/themes/StateDecoded2013/static/scss/dependencies/variables

[2015-03-11 17:36] krues8dr commented on #502
![I dunno](http://i.imgur.com/jxgHzYQ.jpg)

[2015-03-11 19:56] #446 closed

[2015-03-11 19:57] cmbirk commented on #438
This is done in the issue477 branch.

[2015-03-11 19:57] #438 closed

[2015-03-11 19:57] cmbirk commented on #374
Closing this in favor of upgrading to Laravel 5 in the 2.0 milestone.

[2015-03-11 19:57] #374 closed

[2015-03-11 19:58] cmbirk commented on #339
This has been done in the issue477 branch that is close to merge.

[2015-03-11 19:58] #339 closed

[2015-03-11 20:32] cmbirk commented on #99
Closing this after the removal of ES.

[2015-03-11 20:32] #99 closed

[2015-03-11 20:40] cmbirk commented on #210
Closing this due to removing ES.

[2015-03-12 22:58] cmbirk commented on #185
Closing this, as it's an organizational-level installation.

[2015-03-12 22:58] #185 closed

[2015-03-12 22:58] #210 closed

[2015-03-12 22:59] cmbirk commented on #126
This is no longer an issue.  Will re-visit document loading in milestone 2.1

[2015-03-12 22:59] #126 closed

[2015-03-12 23:05] cmbirk commented on #60
Not sure if the artisan command is the best option here, but should be addressed.

[2015-03-12 23:05] cmbirk commented on #368
We're no longer using rocketeer in favor of Laravel's Forge.

[2015-03-12 23:05] #368 closed

[2015-03-12 23:06] cmbirk commented on #44
No longer using ES.  Eventually will probably move to Solr.

[2015-03-12 23:06] #44 closed

[2015-03-12 23:19] cmbirk commented on #436
This is going to have to be handled differently in milestone 1.8

[2015-03-12 23:19] #436 closed

[2015-03-12 23:20] #93 closed

[2015-03-12 23:20] #94 closed

[2015-03-12 23:20] #116 closed

[2015-03-12 23:20] #307 closed

[2015-03-12 23:43] cmbirk commented on #361
No longer using ES.

[2015-03-12 23:43] #361 closed

[2015-03-12 23:59] cmbirk commented on #464
The scope is too large on this issue. Closing.

[2015-03-12 23:59] #464 closed

[2015-03-13 00:00] cmbirk commented on #453
The current issue477 branch is moving these to environment variables.  Closing.

[2015-03-13 00:00] #453 closed

[2015-03-13 00:00] cmbirk commented on #401
Done.

[2015-03-13 00:00] #401 closed

[2015-03-13 00:03] cmbirk commented on #478
This is finished in the issue477 branch.

[2015-03-13 00:03] #478 closed

[2015-03-13 00:03] #473 closed

[2015-03-13 00:06] cmbirk commented on #310
Closing this in favor of the new designs.

[2015-03-13 00:06] #310 closed

[2015-03-13 00:07] cmbirk commented on #109
Closing this in favor of the new designs.

[2015-03-13 00:07] #109 closed

[2015-03-13 00:08] cmbirk commented on #95
Closing this in favor of the new designs.

[2015-03-13 00:08] #95 closed

[2015-03-13 00:11] #413 closed

[2015-03-13 17:40] cmbirk opened #503 "Grunt reset command"
This should blow away the `vendor`, `node_modules`, and `bower_components` directories and reinstall.  Maybe can also have a flag for just blowing away one of them.

[2015-03-13 18:27] cmbirk opened #504 "Social Logins not working"
Broken with the separation from laravel / angular.

Can we just call the same route as before from angular ( after moving to an api route )?

[2015-03-13 18:58] cmbirk opened #505 "Load SMTP credentials from ENV"
Similar to `app.php`

[2015-03-13 18:59] cmbirk commented on #505
Pushed a fix for this to the issue477 branch.

[2015-03-13 19:14] cmbirk commented on #74
I think we pretty much have this figured out, but if you'd post some screenshots here, we can integrate them into the new designs.

[2015-03-13 19:38] cmbirk commented on #504
The process is pretty well described here and uses the same plugin we are already using:

http://syropia.net/journal/github-authentication-with-laravel-angular

[2015-03-13 19:47] cmbirk commented on #348
This works on my desktop browser ( when shrunk ) but not chrome on iOS..

[2015-03-13 19:54] #150 closed

[2015-03-13 20:30] cmbirk commented on #452
This is being handled in #504.  Closing.

[2015-03-13 20:30] #452 closed

[2015-03-13 20:32] cmbirk commented on #505
The environment variables necessary are:

* `SMTP_HOST`
* `SMTP_FROM_ADDRESS`
* `SMTP_FROM_NAME`
* `SMTP_USER`
* `SMTP_PASS`

[2015-03-13 20:33] cmbirk commented on #392
This should be handled in #505.

[2015-03-13 20:33] #392 closed

[2015-03-13 20:35] cmbirk commented on #291
Closing this in favor of the new designs.

[2015-03-13 20:35] #291 closed

[2015-03-13 20:45] cmbirk commented on #270
This was done when adding specific annotation links.

[2015-03-13 20:45] #270 closed

[2015-03-13 20:51] cmbirk commented on #160
Closing this in favor of the new designs.

[2015-03-13 20:51] #160 closed

[2015-03-13 20:51] cmbirk commented on #155
Closing this in favor of the new designs.

[2015-03-13 20:51] #155 closed

[2015-03-13 20:51] cmbirk commented on #154
Closing this in favor of the new designs.

[2015-03-13 20:51] #154 closed

[2015-03-13 20:53] cmbirk commented on #101
Closing this in favor of the new designs.

[2015-03-13 20:53] #101 closed

[2015-03-13 20:53] cmbirk commented on #98
Closing this in favor of the new designs.

[2015-03-13 20:53] #98 closed

[2015-03-13 20:53] cmbirk commented on #97
Closing this in favor of the new designs.

[2015-03-13 20:53] #97 closed

[2015-03-13 20:54] cmbirk commented on #90
Closing this in favor of the new designs.

[2015-03-13 20:54] #90 closed

[2015-03-13 20:55] cmbirk commented on #24
Closing this in favor of the milestone 2.1 work.

[2015-03-13 20:55] #24 closed

[2015-03-16 18:09] leilis opened #506 ""My Documents" page not loading properly"
http://dev.mymadison.io/documents

![screen shot 2015-03-16 at 2 09 01 pm](https://cloud.githubusercontent.com/assets/6437336/6672950/0a1cfece-cbe6-11e4-8c71-515109e2867c.png)

[2015-03-16 18:12] leilis opened #507 "Nothing happens when I click "Submit" after adding new info to my user profile"
If it is saving, I should get some sort of notification or sign -- maybe a pop-up notification saying "updates saved!".

[2015-03-16 18:15] leilis opened #508 "Nothing happens when I click "Submit" when creating a new group"
I need to know my information has been submitted.

[2015-03-16 18:19] leilis opened #509 "Unable to switch between using dev.madison.io as an individual doc sponsor and on behalf of a group in drop-down menu"
Even though I can see that I'm a member of three groups and can manage them through "My Groups"

[2015-03-16 18:36] cmbirk commented on #506
Well that's ugly.  Thanks, it's an issue with the groups api.

[2015-03-16 18:36] cmbirk commented on #507
This is most likely an issue with the `angular-growl` plugin.

[2015-03-16 18:36] cmbirk commented on #508
This is most likely an issue with the `angular-growl` plugin.

[2015-03-16 18:37] cmbirk commented on #509
I'm guessing the active group isn't being set through the API.  Thanks.

[2015-03-16 20:56] cmbirk commented on #508
@leilis I'm not able to reproduce this.  What steps did you take, and what did it show you?

[2015-03-16 21:01] leilis commented on #508
@cmbirk that's strange, it's now working like it should. Earlier today if I signed in, clicked on "Want to create a group?" on the Group Management page, filled in some information, and clicked "Submit", nothing happened -- it didn't take me back to the groups page or show me the "Your group has been created!" message.

[2015-03-16 21:11] cmbirk commented on #508
Interesting.  I'll keep an eye out for it, but closing this issue.

[2015-03-16 21:11] #508 closed

[2015-03-16 21:12] seamuskraft opened #510 "Comments Don't Work on Doc Page"
http://dev.mymadison.io/docs/san-francisco-open-data-legislation-2014

![screen shot 2015-03-16 at 5 11 43 pm](https://cloud.githubusercontent.com/assets/2349231/6676593/8955da1c-cbff-11e4-89d1-a87b04aa3c32.png)

[2015-03-16 21:14] seamuskraft opened #511 "No Way to Clear Document Filters"
Tried undoing these filters with no way to do so, short of refreshing everything

![screen shot 2015-03-16 at 5 13 56 pm](https://cloud.githubusercontent.com/assets/2349231/6676652/ebd7f9cc-cbff-11e4-93ac-6727959ed5c7.png)

[2015-03-16 21:28] cmbirk commented on #511
Ugh.  We've had this issue before, but I thought we had it resolved.

These `select2` elements are flakey.

[2015-03-17 04:07] cmbirk commented on #510
Just pushed the fix for this to the `dev` branch.

[2015-03-17 04:38] cmbirk commented on #511
For some reason, when you try to load the sprite `build/select2x2.png`, you're getting a 404.  @leilis and I are getting the sprite.  I have no idea why that would be the case.

[2015-03-17 04:40] cmbirk commented on #506
The api route `/api/user/{user}/docs` is loading the groups incorrectly.

[2015-03-17 20:57] cmbirk commented on #504
Just got Facebook logins working.  It feels a bit hack-y with the `facebook-login` state redirect in `routes.js`, but working nonetheless.

[2015-03-17 21:41] cmbirk commented on #504
Got Twitter logins working correctly as well.  Need to finish LinkedIn.  Also need to only display social logins that we have configs for.  Currently throwing 500 errors on the dev server, because the OAuth creds aren't set up there yet.

[2015-03-18 13:35] cmbirk opened #512 "Load credentials from ENV in database backup command"
`app/commands/DatabaseBackup.php` currently tried to load the credentials directly from the old creds.yml file.  It should load these from ENV or from the app's database credentials.

[2015-03-18 19:08] cmbirk opened #513 "i18n support"
It looks like we have 2 good options for i18n, `angular-translate` and `angular-gettext`.

There's a debate between the two creators on this GH issue:

 https://github.com/rubenv/angular-gettext/issues/3

and a decent post on the subject here

http://blog.trifork.com/2014/04/10/internationalization-with-angularjs/

@eduard-k and @savajr does this approach work for you guys as well?

[2015-03-18 19:22] cmbirk opened #514 "Add composer.lock file back to repo and lock down dependencies"
This has already been done by our friends over at

https://github.com/mxabierto/madison/pull/189

[2015-03-18 23:24] #505 closed

[2015-03-18 23:24] #510 closed

[2015-03-18 23:24] #514 closed

[2015-03-18 23:58] cmbirk commented on #386
Aaaand re-opening.  Running into the same problem.

[2015-03-19 00:08] cmbirk commented on #504
LinkedIn is causing issues again.  It's a repeat of this issue:

https://github.com/opengovfoundation/madison/issues/386

and I have an open issue with `oauth-4-laravel` here:

https://github.com/artdarek/oauth-4-laravel/issues/97

I'm going to remove LinkedIn for now and close this issue in favor or #386.

[2015-03-19 00:12] #504 closed

[2015-03-19 06:58] Vanuan commented on #513
As I see Madison is not a single page application, so I don't see advantage over Lavarel i8n

[2015-03-19 14:52] cmbirk commented on #513
The 1.8 milestone includes a single page application structure for Madison.

[2015-03-19 20:45] cmbirk commented on #386
There's an issue opened with the `oauth-4-laravel` plugin here:

https://github.com/artdarek/oauth-4-laravel/issues/97

[2015-03-28 15:11] philipjohn opened #517 ""Permalinks" refuse to work without index.php"
Having just installed Madison to play around I realised that URLs other than the home page weren't working.

http://reviewandcomment.org/ (click on the menu items)

However, all works fine by starting from http://reviewandcomment.org/index.php

I've verified that mod_rewrite is enabled and working but I can't fathom what is going on with Madison URLs.

Any clues?

[2015-03-31 19:21] cmbirk commented on #507
Done.

[2015-03-31 19:21] #507 closed

[2015-04-01 20:18] cmbirk opened #518 "Groups seed breaking"
Getting this error:

[code]

[2015-04-01 21:24] #518 closed

[2015-04-01 21:25] cmbirk commented on #518
This was fixed in 6f67bb5

[2015-04-01 21:32] cmbirk opened #519 "Groups not displaying correctly in homepage sponsor selection"
They're sortable, but the display name is incorrect in the select2 element.

[2015-04-01 21:44] cmbirk opened #520 "Groups not displaying correctly in homepage sponsor selection"
They're sortable, but the display name is incorrect in the select2 element.

[2015-04-01 21:44] #520 closed

[2015-04-01 21:47] cmbirk commented on #517
That does sound like a mod_rewrite issue.  What are you seeing in your `public/.htaccess` file?

Also, make sure that you have `AllowOverride all` in your `httpd.conf` to ensure that .htaccess file is used correctly.

[2015-04-01 21:54] cmbirk commented on #509
We need to load user group info when making the call to `/api/user/current` and this should persist through the SessionService.

[2015-04-01 23:02] krues8dr commented on #517
Just to clarify, `AllowOverride all` has to be set *for the path to the web root for the site*.  There are several instances of `AllowOverride` in a stock setup.

[2015-04-01 23:07] krues8dr commented on #517
Aside from that, you might also make sure that the conf is properly setting `DirectoryIndex index.html index.php`, and that `Indexes` are on (e.g. `Options +Indexes` or `Options All`) for the `Directory` in question.

[2015-04-02 14:56] cmbirk opened #521 "Incorrect password error message"
`Email address or password is incorrect`

This is frustrating.  If the email's in the system, tell the user that their password is incorrect.  Otherwise tell them that the email address isn't recognized.

[2015-04-02 14:57] krues8dr commented on #521
Just to give the historical viewpoint here, traditionally this is done to avoid exposing matching email addresses and allowing brute forcincg

[2015-04-02 14:58] cmbirk commented on #521
Yeah, I get that, but the user is most important here.

[2015-04-02 15:00] krues8dr commented on #521
:+1: Agreed.

[2015-04-02 15:08] cmbirk commented on #509
Changing the `/api/user/current` route payload to:

[code]
...

Will still need to update Annotator any time this changes.

[2015-04-02 15:30] cmbirk commented on #509
The current user payload looks like:

[code]

I'm making these changes:

- [ ] change `role` to `admin` and make it a boolean
- [ ] add `independent_sponsor` boolean
- [ ] add `display_name` to be used in place of `fname` and `lname` in the current templates.  This will make it easier as we won't have to decide between showing those fields for users or display name for groups
- [ ] add `role` to e

[2015-04-02 15:40] cmbirk commented on #509
It's actually the `authService.js` `isAuthorized()` that needs updating.

[2015-04-02 18:29] cmbirk commented on #509
Ugh.  This is being stored using `Session::put` and is only being used for document creation.

[2015-04-02 18:38] cmbirk commented on #509
So I've changed the payload to:

[code]

[2015-04-02 20:08] cmbirk commented on #509
Done.

[2015-04-02 20:08] #509 closed

[2015-04-04 02:26] #506 closed

[2015-04-04 02:26] #519 closed

[2015-04-05 11:08] philipjohn commented on #517
:boom: Fixed it.

Added this to my apache2.conf:

[code]

Thanks folks!

[2015-04-05 11:08] #517 closed

[2015-04-06 19:57] krues8dr opened #522 "Missing data for redesign assets"
Here are the pieces of data I'm missing for the redesign; they might exist and I just haven't found them after a cursory glance.

* Feature bill
* Recent Activity Bill list
* Most Active Bill list
* Stats for all bills (Comments, Views, last updated, shares?)

[2015-04-08 06:54] cmbirk opened #523 "Document selection not triggering login popup"
`Annotator.prototype.checkForEndSelection` needs to be modified to show the login popup if the user isn't logged in.  We need to inject the LoginPopupService similar to the way we've done the AnnotationService.  The `checkForEndSelection` method can just call the `showLoginForm` method the same way comments / sub-annotations / support & oppose do.

This modification should happen in our plugin in

[2015-04-08 07:10] cmbirk commented on #522
I'm going to add these routes:

* `/api/docs/featured`
* `/api/docs/recent`
* `/api/docs/active`

And then I'm going to add the comment count and annotation count to the `/api/docs` endpoint.  We don't have shares build in since we removed AddThis a little while ago.  Where are we using the views stats?

[2015-04-08 07:27] cmbirk commented on #485
This is fixed in 3d3aedc

[2015-04-08 07:27] #485 closed

[2015-04-08 17:22] cmbirk commented on #522
I'll also add the total number of participants.

[2015-04-08 17:40] cmbirk opened #524 "Clean up routes"
Separate out routes into groups like

http://laravel.com/docs/5.0/routing#route-groups

and make each group a separate file in `/app/routes/` which will get automatically included in the `routes.php` file via the include loop at the top of the file.

[2015-04-08 17:42] cmbirk opened #525 "Consolidate Controllers"
We still have `DocumentController.php` and `DocumentApiController.php` and many other examples that are unnecessary.  These should be consolidated ( maybe via route group ).

[2015-04-08 18:21] cmbirk opened #526 "Migrate Annotations to the Open Annotation model"
http://www.openannotation.org/spec/core/

[2015-04-08 18:48] cmbirk commented on #522
I've also added annotation_comments_count.  We really need to clean up the Annotation model, but I've opened a separate ticket for discussion on that in the 2.0 milestone: #526

[2015-04-08 19:21] akuckartz commented on #526
+1 (Please also track what the W3C Working Group is doing)

[2015-04-08 20:08] cmbirk commented on #522
@billhunt you should have everything you need in the /api/docs/ endpoint after 4d761c0 .  Still working on the other 3 endpoints.

[2015-04-08 20:11] cmbirk commented on #522
The recent addition was `user_count` for each document, fyi

[2015-04-08 20:15] cmbirk commented on #522
@krues8dr `/api/docs/recent/<number?>` endpoint will default to 10, but `/api/docs/recent/1` will give you the most recently updated document.  I pushed a fix for that route in 0e26973

[2015-04-08 21:35] cmbirk commented on #522
`/api/docs/active/<number?>` endpoint is set up the same way.  Each document has an extra `participationTotal` attribute which is the sum of Annotations, Comments, and AnnotationComments.

This is added in 41d7b4e

[2015-04-08 21:52] cmbirk opened #527 "Allow 'Featured' documents"
This needs to be accessible via the `/api/docs/featured` endpoint via #522 .

We need a flag that is set to allow a document to be 'Featured' on the home dashboard.  If another document is already featured, it should show a message asking the user if they're sure and informing them that the other document will become 'un-featured'.

We also will need the ability to upload images for each document.

[2015-04-08 21:54] cmbirk commented on #522
I've opened up a separate issue for the actual Featured Document functionality in #527

[2015-04-09 01:13] zaenulhilmi opened #528 "Composer.json "zizaco/entrust": "dev-master" don't support laravel/framework v.4.1.25"
I've try to install composer.json but then i found a problem, zizaco/entrust don't support illuminate/support 4.
I think composer.json need to be updated, instead of using "zizaco/entrust": "dev-master", use other version that work

[2015-04-09 01:27] zaenulhilmi commented on #528
so does package from roumen that has "dev-master" version in it.

[2015-04-09 02:38] cmbirk commented on #528
@zaenulhilmi you are correct.  We are currently working on a branch with fixes for this issue.  I will update here when we get the `issue477` branch merged.

[2015-04-09 21:39] zaenulhilmi commented on #496
hi @cmbirk,  I still got the same error. "Document saved, but there was an error with Elasticsearch: Failed to connect to localhost port 9200: Connection refused". When you gonna merge that branch that has been fixed?

[2015-04-09 21:40] cmbirk commented on #496
@zaenulhilmi we should have that branch merged by the end of the month.

[2015-04-09 22:35] zaenulhilmi opened #529 "Create document, but can't find created document (there are no documents on the list)"
I create some documents by admin credential but there are no list of documents that I can see when i've done creating them on http://localhost/madison-master/public/documents or http://localhost/madison-master/public/dashboard/docs .

I've checked the database,those documents has been save on docs table, doc_contents, and doc_users table.

I also see in C:\xampp\htdocs\madison-master\app\views\doc

[2015-04-09 22:53] zaenulhilmi commented on #529
Solved. Sorry, my bad. I didn't make a virtual host. That's why links get broken and there are a lot of feature that doesn't work.
Thanks.. I'll be more carefull next time before i create an issue. :))

[2015-04-11 11:33] zaenulhilmi opened #530 "Create document without filling the title will land to a blank page"
When I try to create document on dashboard using a blank title (link in my environment: http://madison-dev.dev/dashboard/docs), it will show a blank page.

die($validation); on master/app/controllers/DashboardController.php at line 233 has something to do with it. Get rid of die($validation); on line 233 will fix this.

[2015-04-13 17:27] cmbirk commented on #529
No worries @zaenulhilmi, thanks for the heads up.  I should have had that better documented.  I'll make sure to add that!

[2015-04-13 17:27] #529 closed

[2015-04-13 17:29] cmbirk commented on #530
It *should* return an error if the document title is blank.  That is a required field.

Thanks for letting us know, I'll take a look.  *Pull requests are always welcome* ;)

[2015-04-13 17:35] cmbirk commented on #511
Even after wiping the laptop we're still having this issue.  I'm at a loss.

My computer will allow navigation directly to the sprite, but the other will only show the Angular 404 page.  This might be an issue with the nginx media file permissions (?)!!

[2015-04-13 17:59] cmbirk opened #531 "Create install script"
A basic cli interface / script for installation would be very useful to a bunch of people.

Step by step dependency installations, setup instructions, etc.

*To be continued...*

[2015-04-13 20:03] cmbirk opened #532 "Fix fade animation"
I've added the necessary classes for fade animations to `_animations.scss` and tried to apply them to the progress bar on the document image uploads.  It works without the parent `.fade` class, but applies to all elements on the page...

This shouldn't be that tough, but not a priority atm.

The relevant commit is 34c930b.

[2015-04-13 20:49] cmbirk commented on #522
@krues8dr what is the image size for the featured document image?

[2015-04-13 20:52] krues8dr commented on #522
633 x 352 or so.

[2015-04-14 15:24] schlos commented on #531
(+1)

[2015-04-14 21:43] zaenulhilmi commented on #530
I've sent a pull request. It is my FIRST pull request, so If there's something wrong or something that I need to do, please tell me. :)

[2015-04-14 21:46] cmbirk commented on #530
@zaenulhilmi thanks for the pull request!  I've merged it and will close this issue :)

[2015-04-14 21:46] #530 closed

[2015-04-17 03:17] cmbirk commented on #527
Done in issue 477 branch, commit 106346f

[2015-04-17 03:20] cmbirk commented on #522
@krues8dr I've finished the `api/docs/featured` route.  Documents now include the `thumbnail` attribute which is a relative link to the document image, and a featured document must have an image.  It defaults to the most recently created document and a default image if there is no featured document.

I haven't created any image manipulation yet.  We should probably set something up like Facebook u

[2015-04-17 03:20] #522 closed

[2015-04-17 03:22] cmbirk opened #535 "Enforce strict proportions for document images"
The image should be displayed with an overlay that limits strict proportions that are sure to fit in the designs.  The user will have to select part of the image that fits in those proportions.

[2015-04-17 03:51] cmbirk commented on #523
Annotator isn't loaded on the page unless the user is logged in, so adding this in the Madison Annotator plugin won't work as we have it set up.

I'm still looking in to whether we can just use the selection API or whether we have to load Annotator when users aren't logged in.  I would rather use the selection API or borrow from the current Annotator project as they have now separated many of thes

[2015-04-17 15:13] cmbirk opened #536 "Login page design broken"
![screen shot 2015-04-17 at 11 13 13 am](https://cloud.githubusercontent.com/assets/764851/7204782/cd98f590-e4f2-11e4-96d3-85dd0b3c3e77.png)

[2015-04-17 15:14] #502 closed

[2015-04-17 15:27] #536 closed

[2015-04-17 15:40] cmbirk opened #537 "Missing FontAwesome Fonts"
`Resource interpreted as Font but transferred with MIME type text/html: "http://local.mymadison.io/fonts/fontawesome-webfont.woff?v=4.2.0".`

[2015-04-17 16:08] cmbirk commented on #523
I lied.

Annotator is loaded, but is set in readOnly mode.  It loads the Annotations after all.  *facepalm*

It's still simpler to use our own method here, however.

[2015-04-17 16:59] cmbirk commented on #523
OK.

I'm checking for an authenticated user in the documentPageController.  If the user isn't authenticated, I'm binding on `mouseup` to `#doc_content` that will show the login popup.

I'm going to unbind this when a user logs in.

[2015-04-17 18:53] cmbirk opened #538 "Compass compile broken"
running `compass compile` from the root gives this error:

[code]

which appears to be an issue with the bower bootstrap components.

@krues8dr do you know what might be causing this?

[2015-04-17 19:15] krues8dr opened #539 "Thoughts on upgrading bootstrap"
We've pegged `bootstrap-sass-official` to `3.3.3` because upgrading to `3.3.4` fails.  This is probably due to how I've broken out the variables file.  Things that need to be done:

- [ ] Move the variables file override from `config` to `mixins`
- [ ] Include the override variables file include into `https://github.com/opengovfoundation/madison/blob/redesign/public/sass/mixins/_bootstrap-minimal.

[2015-04-17 19:37] cmbirk opened #540 "Odd apply error when logging out"
Getting this error when logging out via the document page:

[code]

but it doesn't seem to be affecting anything at the moment.

[2015-04-17 19:42] cmbirk commented on #537
Looks like it's coming from lines 9-10 in `bower_components/font-awesome/css/font-awesome.css` which compiles to

[code]

on lines 26-27 in style.css

[2015-04-17 20:01] krues8dr commented on #537
Fixed in #c52a0d408dc7f849a0e7b6ebc4e49e0cf8c06de2

[2015-04-17 20:02] cmbirk commented on #537
@krues8dr It will pull the commit in if you leave out the hash.  And you actually only have to put in the first 7 characters.

[2015-04-17 21:02] cmbirk commented on #537
Testing c52a0d4

[2015-04-20 15:20] #537 closed

[2015-04-20 15:21] #523 closed

[2015-04-20 15:22] cmbirk commented on #511
This has been removed on the new design.  Closing.

[2015-04-20 15:22] #511 closed

[2015-04-20 15:23] cmbirk commented on #538
This has been fixed.  I believe it was an issue with out of date dependencies.

[2015-04-20 15:23] #538 closed

[2015-04-20 16:43] cmbirk opened #541 "Dropdown broken on mobile"
Clicking the hamburger icon triggers the DOM changes for the dropdown, but it isn't displayed.

[2015-04-20 16:48] cmbirk opened #542 "Remaining Redesign Tasks"
- [x] Login page
- [x] Social login buttons
- [x] MyDocuments page
- [x] Links ( black on white background can't tell they're links )
- [x] Admin documents list page
- [x] Document editing page
- [x]  Anchor footer to the bottom of the page ( short pages such as login the footer creeps up into the page )
- [x]  Sub-dropdown needs some love ( See below )

[2015-04-21 17:25] cmbirk commented on #527
Re-opening this due to some design flaws.

We need a document summary / introtext for the Featured Document design.  Using the first N words for a legal document is worthless, as you'll get the same legal introduction for most documents.

Users also will be used to getting a readable introduction / summary here, and it will throw people off if they see the largest text block on the homepage as unr

[2015-04-21 17:40] cmbirk commented on #527
I've been convinced otherwise by @krues8dr .  Because the admins are the only role that is allowed to feature documents, they can enforce business constraints if they so choose.

For the authors, we'll add prompts suggesting they add an image / summary.

I think I'll still add the select2 element on the 'Settings' page with filters so that the admin can search for documents with images / with summ

[2015-04-21 17:42] cmbirk commented on #527
@krues8dr this means that we'll have to conditionally handle this information on the front-end

[2015-04-21 17:47] krues8dr commented on #527
Way ahead of you. ;)

[2015-04-21 18:35] cmbirk opened #543 "Set up routes for homepage / dashboard"
Proposed:

Dashboard / Home Page: `/`
Landing Page: `/introduction`

@seamuskraft @leilis does that work for everyone?

Keep in mind the `/introduction` link will be this page:

https://github.com/opengovfoundation/madison/wiki/Redesign#homepage

sent out for introductory / marketing purposes.

[2015-04-21 18:39] leilis commented on #543
Looks good to me!

Leili Slutz
Operations Architect
The OpenGov Foundation <http://www.opengovfoundation.org>
leili@opengovfoundation.org
614-424-9185

On Tue, Apr 21, 2015 at 2:35 PM, Chris Birk <notifications@github.com>
wrote:

[2015-04-21 18:42] seamuskraft commented on #543
Looks good.  Thanks.

- Seamus  ————

Seamus Kraft 

Executive Director & Co-Founder
The OpenGov Foundation 

P: 760-659-0631
OpenGovFoundation.org 

————

2014/2015 Shuttleworth Fellow

On Tue, Apr 21, 2015 at 2:40 PM, Leili <notifications@github.com> wrote:

[2015-04-21 21:37] cmbirk commented on #542
I changed the default link color, so some other links are going to have to be adjusted, such as the homepage document links.

[2015-04-21 21:40] cmbirk commented on #542
@krues8dr Just a couple tweaks that I'm wondering about in this commit: d9a940b .

It seems to be missing the fa-eye icon and I had to pixel push the Save Now button.  Would you take a quick look and let me know if something seems obviously off?  The commit has been pushed up to our dev server.

[2015-04-23 15:42] krues8dr commented on #542
Most of the links aren't blue, they're black.  So perhaps we should consider reverting to the original black instead of having to override them on 90% of the site?

[2015-04-23 15:46] krues8dr commented on #542
Also, it doesn't make sense to be doing the design work on two different branches, we need to pick one and go with it.  IMHO, `dev` should be pulled from `redesign`, so that `dev` is kept low-noise.

[2015-04-23 15:54] krues8dr commented on #542
I'm not sure what is being served there, but the font file for font awesome should be around 64kb, not the 1.7kb that is being pushed there?  Not sure how that happened.  If you merge in my changes from the past week you'll get the fix to the font path that should resolve this (from c52a0d408dc7f849a0e7b6ebc4e49e0cf8c06de2 ).

[2015-04-23 16:01] krues8dr commented on #542
It looks like the changes you made to `dev` aren't up, or have been replaced, because there are a lot of issues on the edit page for vertical rhythm right now, and I'm not seeing any styling on the save button. LMK when that's fixed up and I'll have another look?

[2015-04-23 18:22] rodowi opened #545 "Duplicated password hashing on Password Recovery"
@codemoe pointed out that there might be a bug in the password resetting code, due to an additional Hash::Make being invoked in RemindersController.

We can just remove that invocation. Password hashing is already done in the User model.

Might be related to #482

The discussion: https://github.com/mxabierto/madison/pull/212#issuecomment-95636247

[2015-04-23 18:26] codemoe commented on #545
The PR with the changes needed for the fix is https://github.com/mxabierto/madison/pull/218

[2015-04-23 18:26] rodowi commented on #545
on it, solving conflicts

[2015-04-23 19:28] cmbirk commented on #542
@krues8dr ok, that works.  I'll start working directly on the redesign branch.  I thought I pushed everything to dev, but I'll double check this afternoon.

[2015-04-23 19:33] cmbirk commented on #542
On the link colors, sure.  I was only seeing the document titles as black links, but must have not done my due diligence... :|

My issue is any text not explicitly styled will lose link recognition.  We've already explicitly styled headers, navs, etc. so we can add their colors there.  Therefore we'd have to explicitly style new content pages, document pages, annotations, comments, blocks of text,

[2015-04-23 19:34] krues8dr commented on #542
I think I'll cede here.  It's far easier to manage `h1,h2,h3,h4,h5,h6 { a { } } ` than the other way around.  Blue it is!  I'll make the change on my end to deal.

[2015-04-23 19:38] cmbirk commented on #545
Thanks for catching this.  I'll get this merged!

[2015-04-25 19:09] cmbirk commented on #542
- [ ] Anchor footer to the bottom of the page ( short pages such as login the footer creeps up into the page )

[2015-04-27 14:01] krues8dr opened #547 "Design revisions"
Feedback via @boboroshi:

[2015-04-27 18:47] cmbirk commented on #542
Sub-dropdown needs some love:

![dropdown-design-issue](https://cloud.githubusercontent.com/assets/764851/7354895/4f4cc200-ecec-11e4-99c1-41cee896b6d8.png)

[2015-04-27 19:19] cmbirk commented on #542
The second tab of the admin document editor page is off by a couple pixels and I'm not sure why.  Revising later...

[2015-04-27 19:20] cmbirk commented on #542
And it cascades a bit down the page:
![edit_document](https://cloud.githubusercontent.com/assets/764851/7355606/fa5dcb9a-ecf0-11e4-8b65-7e0bc31bdac4.png)

[2015-04-27 19:39] cmbirk opened #548 "Annotations persisting into other documents"
Going from document to document keeps previous annotations on the page.  Need to make a call for Annotator to refresh.

[2015-04-27 20:54] cmbirk commented on #548
I'm trying to destroy annotator and re-add it with no success.

@krues8dr do you have any thoughts on this?

I'm trying to make the fix here:

https://github.com/opengovfoundation/madison/blob/refresh-annotator/public/js/controllers/documentPageController.js#L130

[2015-04-29 14:50] jipster opened #549 "Add a "send" button in the comments section for more intuitive commenting"

[2015-04-30 17:29] cmbirk opened #550 "RSS Feed Path is broken"
We should have the API route set up for this, but it's being caught because the route doesn't start with `/api`.

[2015-04-30 20:48] cmbirk opened #551 "Link 'Most Active' and 'Most Recent' bills section on homepage"
There currently are only `spans`.

[2015-05-01 15:12] cmbirk opened #552 "Issue with how Annotator is loaded"
It should be stored in the SessionService.  It's currently being stored in the global scope and our plugin uses the `doc` and `user` objects in the global scope as well.  These should be passed through to the plugin.

I'm contemplating destroying the Annotator instance on the ui-router `stateChangeStart` event by checking if the toState is the doc-page state.

[2015-05-04 14:53] cmbirk commented on #548
This is related to #552

[2015-05-04 15:17] cmbirk commented on #552
I'm also going to store Annotator in the annotationService instead of the global scope by passing the element with `#doc_content`, `user`, and `doc` to `annotationService.createAnnotator(element, doc, user)`.

Then I can just pass the annotationService itself, the user, and doc to Annotator and stop using everything in the global scope.

[2015-05-04 15:31] cmbirk opened #553 "Oppose / Support throwing JS error"
I'm getting this error with **0** Opposed and **2** Support:

`Error: Invalid value for <rect> attribute width="{{ doc.oppose * 100 / (doc.support + doc.oppose) | number:0}}"`

[2015-05-04 15:32] krues8dr commented on #553
That looks like the template isn't being parsed.

[2015-05-04 16:41] cmbirk commented on #548
This is fixed in 2914217

[2015-05-04 16:41] #548 closed

[2015-05-04 16:43] #553 closed

[2015-05-04 18:47] cmbirk commented on #552
This is done in 0fe21c4 and merged into dev with the latest redesign pushes

[2015-05-04 18:47] #552 closed

[2015-05-04 18:47] cmbirk commented on #552
Which is sooo much nicer to work with ;)

[2015-05-04 18:56] cmbirk commented on #550
Fixed and referenced.

[2015-05-04 18:56] #550 closed

[2015-05-04 19:00] cmbirk commented on #551
Fixed and referenced.

[2015-05-04 19:00] #551 closed

[2015-05-04 19:38] cmbirk commented on #472
This seems to only be happening with sub-comments.  I'm not sure why, but I'm going to bump to future for now so we can get this release out the door.

[2015-05-04 19:51] cmbirk commented on #542
Dropping the sticky footer for now.  Going to take a bit of moving around that will complicate things at the moment, and *only* fixes a few pixels on the login page at the moment.

[2015-05-04 19:51] #542 closed

[2015-05-05 17:02] cmbirk commented on #316
This is solved.  We're simply displaying it on the left side now...

[2015-05-05 17:02] #316 closed

[2015-05-05 17:12] cmbirk commented on #348
Closing this in favor of #541

[2015-05-05 17:12] #348 closed

[2015-05-05 17:12] #545 closed

[2015-05-05 17:33] cmbirk commented on #500
This is fixed in the 1.8 milestone

[2015-05-05 17:33] #500 closed

[2015-05-05 17:34] cmbirk commented on #482
This is fixed with the referenced pull request.

[2015-05-05 17:34] #482 closed

[2015-05-05 17:35] cmbirk commented on #476
This is fixed in the 1.8 milestone ( which we're merging soon ).

[2015-05-05 17:35] #476 closed

[2015-05-05 20:50] cmbirk commented on #543
@krues8dr do we have this page built out or are we waiting on anything for it?

[2015-05-05 20:51] krues8dr commented on #543
Nope, we need the content I guess?

[2015-05-05 20:53] cmbirk commented on #543
K.  I have the designs for it here:

https://github.com/opengovfoundation/madison/wiki/Redesign#homepage

@seamuskraft @abartnick we'll need content to replace the dummy content for that page.

[2015-05-06 17:42] cmbirk commented on #525
The DocumentsController should be the existing controller.  `DocController` has the following methods that need to be consolidated:

* Constructor calls auth filter on `post`, `put`, and `delete` calls.
* `getEmbedded()` // Returns embed view for document
* `postSupport(doc)` //Handles support / oppose calls from document page
* `getFeed($slug)` //Handles document RSS Feed

[2015-05-06 18:47] cmbirk opened #554 "Support / Oppose don't update correctly"
Changing support / oppose should update the buttons and the document data.

[2015-05-06 19:39] cmbirk opened #555 "Set up service or some other re-usable element for select2 elements"
Based on this blog post: https://outofmemoryexception.wordpress.com/2015/03/30/angularjs-ui-select2-and-the-web-api-service/

[2015-05-06 20:30] cmbirk commented on #527
This is complete *without* the prompts in 3edb640.  This has been merged into `redesign` and pushing it up to `dev`.  Working on the prompts next.

[2015-05-06 20:53] cmbirk opened #556 "Set up 'prompts' directive"
I've moved the welcome message into a `welcomeMessage` custom directive.  I'm going to extend this to be able to handle any 'prompts' that are currently in a given scope.  This way the same design / code can be used for prompts across the system.

The most immediate need for other prompts are in the dashboard editor page where we want to prompt the user to upload an image and add an intro text so

[2015-05-06 20:53] cmbirk commented on #527
Closing this in favor of #556 , which will handle the prompts.

[2015-05-06 20:53] #527 closed

[2015-05-08 18:15] cmbirk commented on #549
Great suggestion.  I'll make sure to get this added.  Thanks @jipster

[2015-05-11 18:25] cmbirk opened #557 "'All Documents' link incorrect on document pages"

[2015-05-14 13:53] cmbirk opened #558 "Set up multi-tenant architecture"
As described here:

http://culttt.com/2014/03/31/multi-tenancy-laravel-4/

so that we can easily set up subdomains per locality instead of maintaining separate instances.

[2015-05-18 13:55] cmbirk commented on #513
Moving this to 2.0 milestone

[2015-05-19 15:02] krues8dr opened #559 "Redesign: Annotations"
Per John's designs.

[2015-05-19 15:03] krues8dr commented on #559
@cmbirk Can users vote on comments in annotations?  I'm not seeing it in the old code, but it's in the design.

[2015-05-19 15:04] krues8dr opened #560 "Redesign: Comments"
Waiting on #559 to reuse the styles.

[2015-05-19 15:06] cmbirk commented on #559
@krues8dr we didn't have that in the old designs because we wanted to keep the comment stream chronological so that the conversation didn't become disjointed.

We can certainly add them for the new designs, but the comments shouldn't re-order.

[2015-05-19 15:06] krues8dr opened #561 "Pull out SASS + Bootstrap + rems code into separate repo"
Make this reusable so we can share it.  Needs documentation as well.

[2015-05-19 15:07] krues8dr commented on #559
I don't know that it's a priority, but the filters on the annotation side pane make a little less sense without them.  They'll only apply to annotations, and that's only useful if lots of annotations are in the same block. It's really more of a nice-to-have.  Tempted to punt on this for now and open a new known issue.

[2015-05-19 15:21] cmbirk commented on #559
I'm fine with that.  I don't want that to hold up this release, and the annotations are definitely the primary focus here.

That being said, we'll want to have this functionality for the 'Discussion' tab, so it may be not be a big lift above that.

[2015-05-20 18:12] cmbirk commented on #556
This is done in 9947b33.  Set up just like the growl notifications, so `prompts.info('something here');` will add a prompt to the page.  I haven't yet set up the color classes for the prompts, so they're all green atm.

[2015-05-20 18:12] #556 closed

[2015-05-20 18:47] cmbirk commented on #554
Closed in the above commit.

[2015-05-20 18:47] #554 closed

[2015-05-20 18:49] cmbirk commented on #557
Fixed with 8b85ce0

[2015-05-20 18:49] #557 closed

[2015-05-20 18:58] cmbirk opened #562 "Copy font-awesome fonts into build directory on grunt build"
We're missing the fonts in our distribution files.  We need to copy the files over when we build for distribution.  This will also mean updating the font-awesome path in `_settings.scss`.

[2015-05-20 19:10] cmbirk commented on #562
This is fixed with 4f3e942

[2015-05-20 19:10] #562 closed

[2015-05-22 00:41] urkonn opened #563 "Problem with datetime picker"
When editing the document information the datetime picker behaves strange in Firefox

![selection_026](https://cloud.githubusercontent.com/assets/37691/7761620/8ccb637a-ffed-11e4-9a5a-964864e058b1.png)

Possibly it's a bug in moment.js

![selection_029](https://cloud.githubusercontent.com/assets/37691/7761861/2cb66dbe-fff1-11e4-84d9-c2a803992225.png)

[2015-05-22 22:22] cmbirk commented on #563
Thanks @urkonn .  I'll take a look.  We were having some issues with moment.js earlier.

[2015-05-25 20:30] rodowi commented on #563
Might be caused by FF ignoring the dashes '-'

http://stackoverflow.com/questions/19839819/moment-js-returning-nan-in-firefox-but-not-chrome

Weird because iso8601 actually enforces dashes
http://en.wikipedia.org/wiki/ISO_8601

[2015-05-26 18:45] krues8dr commented on #561
Done: https://github.com/opengovfoundation/bootstrap-sass-rem-boilerplate

[2015-05-26 18:45] #561 closed

[2015-05-30 19:13] LouisMilotte commented on #541
I'm unable to reproduce with Galaxy S5 via chrome (version 42.0.2311.11)  on android (version 4.4.2). The referenced issue #348 mentioned iOS; is this the only OS encountering this issue?

[2015-06-09 19:50] krues8dr opened #564 "Login box oddly shaped & positioned"
Inconsistently appears wherever the user has clicked. We should float it at the front-center.

[2015-06-09 19:50] krues8dr opened #565 "Annotations only working on headers"
Strange things are afoot.

[2015-06-09 19:51] krues8dr opened #566 "Font are too huge on the homepage."

[2015-06-09 20:23] #565 closed

[2015-06-10 18:11] #566 closed

[2015-06-10 18:11] #560 closed

[2015-06-10 18:12] #559 closed

[2015-06-10 20:04] cmbirk commented on #564
This was originally done to meet action expectations.  ie.  If someone selects a piece of document text, they're expecting an annotator selection window.  We were keeping the window placement / popup event consistent, but displaying the login content instead.

If we want to go away from that interaction toward a modal, we're going to want a screen takeover to change user focus and drive focus to t

[2015-06-11 12:01] cmbirk commented on #564
We're going to need to revisit this, and it's probably worth poking @boboroshi for.

We can't have a screen take-over for login for people selecting text on the document.  If they're attempting a simple copy-and-paste, this would be extremely frustrating.  I'm leaning toward reverting these changes back to the functionality we had before.  If the `loginPopupService` is behaving correctly, this sho

[2015-06-11 12:32] krues8dr commented on #564
This happening on copy-paste is a different issue, and should be opened accordingly.  This issue is purely a design one.

[2015-06-11 12:33] krues8dr opened #567 "Login box appears on selecting text on document."
Per #564

[2015-06-11 20:48] krues8dr commented on #567
Ok, this is mostly resolved.  There's still an issue, if you dismiss the login box, the annotate button stays put and you can't make it disappear.

[2015-06-11 20:48] krues8dr commented on #567
If I add `adder.hide()` I can't make it ever appear again.  Ugh.

[2015-06-16 18:54] #567 closed

[2015-06-17 02:10] cmbirk opened #568 "testing webhook"
this is just a test

[2015-06-17 03:46] #568 closed

[2015-06-17 18:09] cmbirk commented on #543
@seamuskraft @abartnick any word on this?

[2015-06-17 20:50] #564 closed

[2015-06-18 15:42] boboroshi opened #569 "UI review"
![mad_rev_1](https://cloud.githubusercontent.com/assets/2223/8235273/06abd3ec-15af-11e5-9fb3-bc2b9c5f59dd.png)
![mad_rev_2](https://cloud.githubusercontent.com/assets/2223/8235275/06ef7804-15af-11e5-8d5c-7b0856a6ff80.png)
![mad_rev_3](https://cloud.githubusercontent.com/assets/2223/8235276/06f761ae-15af-11e5-8186-f4dc6c4d2a43.png)
![mad_rev_4](https://cloud.githubusercontent.com/assets/2223/823527

[2015-06-22 06:45] nephop commented on #531
Yes, I am trying to use this project from last 2 days and I am unsuccessful to use this in local host or hosted server is there any guidelines..... Can some one help.

[2015-06-22 15:18] cmbirk opened #570 "Annotation drawer missing close link"
![screen shot 2015-06-22 at 11 18 45 am](https://cloud.githubusercontent.com/assets/764851/8285265/46dff780-18d0-11e5-915e-3f0dc6f6dd23.png)

[2015-06-22 15:31] cmbirk commented on #570
@boboroshi @krues8dr what are your thoughts on using a small left panel for closing instead of a link at the top?  Something like the attached that would change shade on hover.  I like the idea because as your attention goes from the conversation back to the document you have the close function in line with that path.

![slider close](https://cloud.githubusercontent.com/assets/764851/8285559/1ee78

[2015-06-22 17:18] boboroshi commented on #570
We can go with something like this. First, we should use an actual arrow icon instead of the > character. Second, it should highlight blue when being hovered over. Might be worth having "CLOSE PANEL" running vertical (text rotated 90° from baseline) under the arrow. The whole bar should be the link, and we might want to kick it up to 30px (it looks 20 right now) just for and easier target on table

[2015-06-22 18:09] seamuskraft opened #571 "Sign Up Link in Yellow Banner Doesn't Work/Link to Anything"

[2015-06-22 18:12] abartnick opened #572 "About page: no way to submit questions"
"Still have a question? Let us know on the left. We'll get back to you right away."

There is nothing on the left we can use to ask a question.

[2015-06-22 18:16] krues8dr commented on #572
Hmm.  UserVoice doesn't exactly fit here as we were using it previously.  I really don't want a drawer on top of a drawer.

[2015-06-22 18:17] cmbirk commented on #572
There are a couple different solutions there I think.  I believe we execute the modal using a link, and they have some new interfaces we can plug in.  I'll take a look and post back here.

[2015-06-22 18:20] seamuskraft opened #573 "Annotations Out of Place on Document"
See the annotations floating up in the top right hand corner of the page.  Screen shot attached.

![screen shot 2015-06-22 at 2 19 31 pm](https://cloud.githubusercontent.com/assets/2349231/8289322/c4fe84ce-18e9-11e5-8486-95de4888b47c.png)

[2015-06-22 18:24] seamuskraft opened #574 "Annotation Window Broken on Document"
When hovering over a previously-made annotation (attempting to copy the annotation link), the annotation box/window disappears.  Happens right when my mouse gets to the "copy annotation link."

![screen shot 2015-06-22 at 2 22 10 pm](https://cloud.githubusercontent.com/assets/2349231/8289423/52d53aae-18ea-11e5-9e58-ebe59cb9b950.png)

[2015-06-22 18:27] abartnick opened #575 "About Page copy"
Madison is a government policy co-creation platform that opens up laws and legislation previously off-limits to individuals and the Internet community. Launched to battle the Stop Online Piracy Act (SOPA), it has since been used to power citizen participation in government policymaking in the United States Congress. With Madison, you can access the law as it’s being written, leave comments, annota

[2015-06-22 18:27] seamuskraft opened #576 "No Way to See A Comment Has Been Made on Another User's Annotation/Comment"
The "comments" bar appears at the bottom, but it isn't clear if there are any comments lurking beneath.  Perhaps add a number to signify how many comments are threaded therein?

![screen shot 2015-06-22 at 2 25 17 pm](https://cloud.githubusercontent.com/assets/2349231/8289502/d4e645ba-18ea-11e5-9a11-a265c5369c0b.png)

[2015-06-22 18:31] seamuskraft opened #577 "Discussion Tab Unclear for Adding General Comment to Document"
Not clear that "General Document" comments are happening under "Discussion" tab.

[2015-06-22 18:32] abartnick opened #578 "FAQ page copy"
What is Madison?
Madison is a free tool that helps elected officials and everyday Americans solve problems together. Elected officials post drafts of policy documents on the site so that you can weigh in and stay informed about the issues you care about most. Madison brings policymaking out into the open, and gives you a voice in your government and a way to hold it accountable.

How can I use Mad

[2015-06-22 18:32] seamuskraft opened #579 "No Way to Reply to General Comment Made on Entire Document"
The comment went through, but there's no way to reply to it.

![screen shot 2015-06-22 at 2 31 44 pm](https://cloud.githubusercontent.com/assets/2349231/8289610/8912b172-18eb-11e5-9c92-b6104cae56d4.png)

[2015-06-22 18:34] cmbirk commented on #577
We should change that to 'Comments' or something like that.

[2015-06-22 18:35] abartnick opened #580 "Not authorized to view 'My Documents' or 'Group Management'"
![screen shot 2015-06-22 at 2 33 56 pm](https://cloud.githubusercontent.com/assets/12156643/8289669/ec143b88-18eb-11e5-84e4-0444f67c57bc.png)

[2015-06-22 18:37] seamuskraft opened #581 "Unable to Request Account Verification"
When I first visited my account page, it already said that my request was pending.  I tried to request account verification anyway, and I got some sort of error.  Unable to see what the error is, though...just got some red thing pop up in the top right corner (See screenshot attached).

![screen shot 2015-06-22 at 2 34 53 pm](https://cloud.githubusercontent.com/assets/2349231/8289718/3d64bc9c-18ec

[2015-06-22 18:38] abartnick opened #582 "No links on page footer"
Cannot click through to "For Citizens," "For Authors," or "For Developers"
![screen shot 2015-06-22 at 2 37 13 pm](https://cloud.githubusercontent.com/assets/12156643/8289730/58f541ca-18ec-11e5-9380-a97fb8197ce2.png)

[2015-06-22 18:39] cmbirk commented on #582
I'm not sure what these should be linking to.

[2015-06-22 18:40] krues8dr commented on #582
I'm not sure these are supposed to be links.  I think it's just taglines.

[2015-06-22 18:41] seamuskraft opened #583 "Unable to Create A Group"
See attached screen shot.

![screen shot 2015-06-22 at 2 40 56 pm](https://cloud.githubusercontent.com/assets/2349231/8289819/c51d2b42-18ec-11e5-8da4-e928dc85c09f.png)

[2015-06-22 18:43] abartnick opened #584 ""Oppose" and "Support" inconsistently ordered on bill pages"
"Support" on left side above text, right side under Bill Stats
![screen shot 2015-06-22 at 2 41 31 pm](https://cloud.githubusercontent.com/assets/12156643/8289849/f959a854-18ec-11e5-958c-b43a72b5362d.png)

[2015-06-22 18:44] abartnick opened #585 "Font size changes in block quotes"
http://dev.mymadison.io/docs/foia-reform
![screen shot 2015-06-22 at 2 43 21 pm](https://cloud.githubusercontent.com/assets/12156643/8289883/22c51250-18ed-11e5-925f-67159055b106.png)

[2015-06-22 18:45] abartnick opened #586 "Can't click to comments or annotations on most active legislation"
http://dev.mymadison.io/
![screen shot 2015-06-22 at 2 44 34 pm](https://cloud.githubusercontent.com/assets/12156643/8289905/57d76664-18ed-11e5-9c25-bd16f59b9fcc.png)

[2015-06-22 18:46] seamuskraft opened #587 "Unable to Request Ability to Be Independent Document Sponsor/Author"
See attached screen shot

![screen shot 2015-06-22 at 2 45 37 pm](https://cloud.githubusercontent.com/assets/2349231/8289922/69a9f1c2-18ed-11e5-8cf7-7e28cf8e8655.png)

[2015-06-22 18:46] abartnick opened #588 ""See previously featured legislation in the archive" button broken"
http://dev.mymadison.io/
![screen shot 2015-06-22 at 2 46 04 pm](https://cloud.githubusercontent.com/assets/12156643/8289935/84e5e090-18ed-11e5-8f72-b74ebd86d41c.png)

[2015-06-22 18:47] abartnick opened #589 "Can't select tags"
http://dev.mymadison.io/
![screen shot 2015-06-22 at 2 47 19 pm](https://cloud.githubusercontent.com/assets/12156643/8289952/a19ea212-18ed-11e5-888d-86708e7f9b58.png)

[2015-06-22 18:47] seamuskraft opened #590 "Add Frowning Fathers as 404 Pages Across Madison"
At least we should have Madison on there!

https://www.dropbox.com/sh/mgb7vny9vg3wt3o/AADihY_vKFbs-3NtZGelSdLTa?dl=0

[2015-06-22 18:48] abartnick commented on #589
Tags also not viewable on bill page.

[2015-06-22 18:49] seamuskraft commented on #577
Agreed.  We should also be pulling all the page's discussion (annotations,
comments, comments on comments, etc.) into the renamed "Comments" page,
methinks.

- Seamus

Seamus Kraft
Executive Director & Co-Founder
The OpenGov Foundation <http://OpenGovFoundation.org>
Ph: +1-760-659-0631
Tweet Us @FoundOpenGov <http://twitter.com/foundopengov>

On Mon, Jun 22, 2015 at 2:34 PM, Chris Birk <notificati

[2015-06-22 18:49] abartnick opened #591 "Comment box out of place"
http://dev.mymadison.io/docs/san-francisco-open-data-legislation-2014
![screen shot 2015-06-22 at 2 48 28 pm](https://cloud.githubusercontent.com/assets/12156643/8289977/decb91f4-18ed-11e5-867b-9009a27262f3.png)

[2015-06-22 18:50] abartnick opened #592 "Hitting 'enter' does not post comments"
http://dev.mymadison.io/docs/foia-reform
![screen shot 2015-06-22 at 2 50 14 pm](https://cloud.githubusercontent.com/assets/12156643/8290006/11194ee4-18ee-11e5-8361-f16a5a167b2d.png)

[2015-06-22 18:57] cmbirk commented on #577
The annotations will stay with the main document body, because they aren't useful out of context.  The comments tab has always been just a reddit-style comment stream for people who don't want to jump into the text of the document.  It's hidden because it's *almost always* a much less useful conversation.

[2015-06-22 19:04] cmbirk commented on #582
I think we can deep link to the sections on the homepage for this.

[2015-06-22 19:09] cmbirk commented on #571
I'm not sure what this is referring to.

[2015-06-22 19:35] seamuskraft commented on #571
Screen shot attached (link in the green bar at the top).

[image: Inline image 1]

- Seamus

Seamus Kraft
Executive Director & Co-Founder
The OpenGov Foundation <http://OpenGovFoundation.org>
Ph: +1-760-659-0631
Tweet Us @FoundOpenGov <http://twitter.com/foundopengov>

On Mon, Jun 22, 2015 at 3:10 PM, Chris Birk <notifications@github.com>
wrote:

[2015-06-22 19:36] cmbirk commented on #571
I think you have to upload those via GH.  It doesn't look like your attachment made it through.

[2015-06-22 19:45] seamuskraft commented on #571
![screen shot 2015-06-22 at 3 35 06 pm](https://cloud.githubusercontent.com/assets/2349231/8291151/a4a6f2a4-18f5-11e5-8227-c3606e87b56b.png)

[2015-06-23 16:21] cmbirk commented on #586
Those are just showing the activity.  I'll link those to the document as well.

[2015-06-23 16:27] cmbirk commented on #586
After playing around with this a bit, it doesn't really fit with the designs.  I think the title of the document is fine being linked.  Closing.

[2015-06-23 16:27] #586 closed

[2015-06-23 16:31] cmbirk commented on #588
We're not currently storing previously featured legislation.  I'll have to create a table for this to keep track of what's been featured.

Proposal:

**Table: featured_archive**
id: incrementing
doc_id: <doc_id>
set_featured: (date was set as featured) //Currently not tracking this.
removed_featured: (date was removed as featured)

This will have an entry for every time the featured document is ch

[2015-06-23 16:33] krues8dr commented on #588
That's not a button, that's a header.  We should just change the header.

[2015-06-23 16:34] krues8dr commented on #588
I'm messing with that now, so I'll go ahead and change it.

[2015-06-23 16:42] krues8dr commented on #588
![screen shot 2015-06-23 at 12 42 08 pm](https://cloud.githubusercontent.com/assets/127904/8311598/4a456c36-19a5-11e5-839d-a28a084569e2.jpg)

Here's my proposed fix.

[2015-06-23 16:47] cmbirk commented on #588
Per our convo, I think 'Active Legislation' covers it.

[2015-06-23 16:50] cmbirk commented on #589
We don't have the tags on the document page anywhere in the designs.

[2015-06-23 17:02] cmbirk commented on #589
For the tag filter, I propose something like the attached.  Does that work @boboroshi?

![tag filter](https://cloud.githubusercontent.com/assets/764851/8311977/fc964d18-19a7-11e5-88b5-a18bc12231ec.png)

[2015-06-23 17:10] krues8dr commented on #569
@boboroshi Here's what I've got for the documents page header, lmk if that border/spacing needs more work:

![screen shot 2015-06-23 at 1 09 55 pm](https://cloud.githubusercontent.com/assets/127904/8312187/3d622aa0-19a9-11e5-9f72-999fa69c4760.jpg)

[2015-06-23 17:49] cmbirk commented on #578
@abartnick This is a great start.  I'll have to update some of the process stuff and add relevant links.  What video are you referencing in the 3rd paragraph?

[2015-06-23 17:50] cmbirk commented on #592
This is probably posting on click instead of form submit.  Thanks.

[2015-06-23 17:50] krues8dr commented on #585
dupe #569

[2015-06-23 17:50] #585 closed

[2015-06-23 17:50] abartnick commented on #578
The video was part of the pre-existing copy; I only made very basic grammatical/spelling changes.

—
Sent from Mailbox

On Tue, Jun 23, 2015 at 1:49 PM, Chris Birk <notifications@github.com>
wrote:

[2015-06-23 17:51] cmbirk commented on #582
This is dependent on #543

[2015-06-23 18:41] cmbirk commented on #572
I've found a different Uservoice widget that we can use for this.  @krues8dr the question here is how to conditionally include a uservoice script, as we won't have this in dev / local environments.

[2015-06-23 18:41] krues8dr commented on #572
Post a link to the widget and maybe I can come up with something. ;)

[2015-06-23 18:47] #577 closed

[2015-06-23 19:13] #578 closed

[2015-06-23 19:14] cmbirk opened #593 "Include uservoice.js and ga.js"
We have these commented out at the moment.  We'll want to load them conditionally, but we can get that set up in 2.0.

[2015-06-23 19:21] #583 closed

[2015-06-23 19:22] cmbirk commented on #593
Really these should be configuration settings.  If the configuration is included, append the JS with the configuration account ID.

[2015-06-23 19:25] cmbirk commented on #581
Just an FYI @seamuskraft, those are two separate requests.  Your Independent Sponsor request was pending, but you hadn't yet requested to be a Verified Account.

Still looking into the Verified Account error.

[2015-06-23 19:56] cmbirk commented on #587
Looks like this page is just missing.  Adding...

[2015-06-23 20:14] #581 closed

[2015-06-23 20:15] cmbirk commented on #591
Duplicate of #573.  Closing.

[2015-06-23 20:15] #591 closed

[2015-06-23 20:16] krues8dr commented on #573
O_O

[2015-06-23 20:18] #571 closed

[2015-06-23 20:21] cmbirk commented on #580
The group management issue was fixed in 359420e.  Still working on the My Documents route.

[2015-06-23 20:33] #580 closed

[2015-06-23 20:36] cmbirk commented on #576
@seamuskraft the comments bar doesn't appear unless there are comments.  Looking into the comment count.

[2015-06-23 20:38] cmbirk commented on #576
This is going to require complexity in the Annotator plugin that we don't want to tackle at the moment.  Will revisit when we re-work the Annotator setup with V.2.

[2015-06-23 20:38] #576 closed

[2015-06-23 20:40] cmbirk opened #594 "Annotator missing like / dislike / flag icons"
In the Annotator window.  Probably due to the glyphicon -> FA change.

[2015-06-23 20:50] cmbirk commented on #594
Yep.  And can't just change classes, because I'm a moron and used `.glyphicon` as a selector...

[2015-06-23 21:24] cmbirk commented on #531
@nephop Our [1.8 milestone](https://github.com/opengovfoundation/madison/milestones/1.8) has a much easier installation and much more extensive documentation.  Milestone 2.0 will come with a comprehensive install script.  The `dev` branch right now has all of the work from the 1.8 milestone in it, and we're finishing up the remaining issues as fast as we can.  You can take a look at our [initial d

[2015-06-24 00:48] boboroshi commented on #569
Better. Needs more space above the main headline, the sponsored by should be centered in that space between the lines and a little larger. Buttons looking much better.

[2015-06-24 01:43] cmbirk commented on #574
This is fixed in 31276c9

[2015-06-24 01:43] #574 closed

[2015-06-24 01:46] #584 closed

[2015-06-24 02:24] cmbirk commented on #570
@krues8dr take a look at the `annotation-pane-close` branch.  I've added this and it works, but want to make sure it's in line with the semantic setup you've put in place.

[2015-06-24 02:28] cmbirk commented on #541
I'm still getting this issue on chrome for iOS.

[2015-06-24 02:40] cmbirk commented on #593
The uservoice and ga JS files will also have to hit endpoints to return the config values before embedding in the page.

[2015-06-24 19:11] cmbirk commented on #570
@boboroshi here's what we have in that branch:
![screen shot 2015-06-24 at 3 11 33 pm](https://cloud.githubusercontent.com/assets/764851/8339117/39fb4506-1a83-11e5-9f6e-4b8bce56afa1.png)

[2015-06-24 19:47] cmbirk commented on #594
@krues8dr I noticed the selector for the annotation sidebar actions is `.annotation .thumbs-up` for these.  I'm going to move those stylings to just `.thumbs-up` for use in the annotator-viewer.

[2015-06-24 19:48] krues8dr commented on #594
:+1:

[2015-06-24 19:57] cmbirk commented on #594
This is done in d6ae6d0

[2015-06-24 19:57] #594 closed

[2015-06-24 20:04] cmbirk commented on #165
I think this is going to have to wait until Annotator 2.0, so moving to 2.0 milestone.  The line-level anchors should alleviate most of the pain on this for now.

[2015-06-24 20:09] #575 closed

[2015-06-24 20:09] cmbirk commented on #572
Closing this in favor of #593 .

[2015-06-24 20:09] #572 closed

[2015-06-24 20:14] krues8dr commented on #569
That should be everything except the numbers and bullets issue.  We don't really have a good way of knowing if the sections are already numbered when that list is created, and it doesn't look quite right without the bullets, imho.

[2015-06-25 15:44] #569 closed

[2015-06-25 17:02] cmbirk commented on #593
I'm going to set up `/api/settings/vendors` for this.  It will respond with our uservoice and ga config settings.

The angular app will check which settings exist and create the scripts on the page accordingly.

[2015-06-25 17:20] krues8dr commented on #547
The rest of these have been resolved with #569.

[2015-06-25 17:20] #547 closed

[2015-06-25 18:23] cmbirk commented on #593
I've finished the UserVoice setup in a43d218 on my local branch.  Finishing GA.

[2015-06-25 18:50] #593 closed

[2015-06-25 19:07] cmbirk opened #595 "Home / Intro page content"
Based on the design at https://github.com/opengovfoundation/madison/wiki/Redesign#homepage

[2015-06-25 19:08] #543 closed

[2015-06-25 19:10] cmbirk commented on #582
These are all on the same scroll level, so I'm just going to link to `/intro` for these

[2015-06-25 19:11] krues8dr commented on #573
Fixed with previous fixes.

[2015-06-25 19:16] #582 closed

[2015-06-26 14:11] krues8dr commented on #573
This particular instance is actually a detached annotation, which needs special handling that's not currently in place.

[2015-06-26 15:59] krues8dr commented on #573
Hmm.  Now it's fixed again.  Feel free to reopen if it's still broken.

[2015-06-26 19:33] cmbirk opened #596 "Crop images on upload"
Just posting notes here:
http://jsbin.com/fovovu/1/edit?js,output

[2015-06-26 19:37] cmbirk commented on #596
https://github.com/standup75/cropme

[2015-06-29 19:00] krues8dr opened #597 "Title on document pages doesn't reflect document title."
It looks like we're using the `updateTitle` directive to do this, which doesn't have any way of getting at the document's data.  This looks like a good solution:  http://stackoverflow.com/a/13407227/4446245  as we can override `$rootscope.title` when the document loads.

[2015-07-03 19:49] krues8dr commented on #579
This also resolves annotations that have multiple highlights not showing up properly.

[2015-07-03 19:49] #579 closed

[2015-07-03 19:50] krues8dr commented on #570
The close link is at the top of this panel, and I've attached that panel to stay at the top, so this shouldn't be so much of an issue for now.

[2015-07-03 19:51] #588 closed

[2015-07-06 13:37] krues8dr opened #598 "Login doesn't take you back to the page you were on."
This happens on the prompt on the document pages when replying or voting.

[2015-07-06 13:52] krues8dr opened #599 "Mobile Friendliness"
The site breaks hard on mobile.

[2015-07-06 16:36] krues8dr opened #600 "Some dates for annotations showing up as "NaN Years" in Firefox."

[2015-07-08 23:45] cmbirk opened #602 "Need loading indicators"
Just adding a quick note here.  Things like the homepage document list need loading indicators.  We'll probably need to do a quick inventory here.  Annotations will need them as well.

[2015-07-09 05:43] cmbirk opened #603 "Google Analytics broken"
Using the `Google Analytics Debugger` in chrome, I'm getting `Initializing Google Analytics` in the JS console on mymadison.io, but it never actually finished initializing / sending anything.  I'm not seeing any real time activity on the analytics monitor either.

[2015-07-09 05:47] cmbirk commented on #603
I'm also getting the attached
<img width="1429" alt="screen shot 2015-07-09 at 12 45 52 am" src="https://cloud.githubusercontent.com/assets/764851/8588787/197475e4-25d4-11e5-9801-12419bc3c47f.png">
 in the console on state change

[2015-07-09 05:48] cmbirk commented on #603
May have solution here: https://groups.google.com/forum/#!topic/google-analytics-analyticsjs/mayu2cf1d0k

[2015-07-09 14:09] krues8dr opened #604 "Pagination on everything."
* [ ] Homepage list of articles
* [ ] Annotation comments
* [ ] Regular comments
* [ ] Comment replies

[2015-07-09 14:10] krues8dr opened #605 "Add transition to buttons"
- [ ] Use the same animation as on the slide in/out for the color change.
- [ ] Use waves.js for click events.

[2015-07-09 16:17] neetin commented on #528
I am also stuck on installation with this error. It is fixed? please update.

[2015-07-09 18:20] waldoj opened #607 "Account creation banner is really hard to read"
![madison](https://cloud.githubusercontent.com/assets/656758/8603344/8a1b15de-2645-11e5-8a7d-24a8475d88d9.png)

This hurts my brain.

[2015-07-10 05:23] cmbirk commented on #603
I've tried running this through the service, but this looks like a better solution:

[2015-07-10 05:23] cmbirk commented on #603
https://github.com/mgonto/angularytics

[2015-07-10 05:25] cmbirk commented on #603
Actually this one looks more promising https://github.com/luisfarzati/angulartics

[2015-07-10 12:41] boboroshi commented on #607
How about either of these? I'm leaning towards blue as orange really screams on the page with that much of a wash.

<img width="682" alt="screen shot 2015-07-10 at 8 40 07 am" src="https://cloud.githubusercontent.com/assets/2223/8618796/5f9233f2-26df-11e5-9298-9753b5688a47.png">
<img width="683" alt="screen shot 2015-07-10 at 8 40 23 am" src="https://cloud.githubusercontent.com/assets/2223/8618797

[2015-07-10 13:22] krues8dr commented on #607
+1 for blue.  Orange might be nice for errors though, later.

[2015-07-10 15:22] boboroshi commented on #607
https://camo.githubusercontent.com/e4843d27745055ef4c67e71bcc0e7d6e0714fc2a/687474703a2f2f696d616765732e73696d706c7973796e646963617465642e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031342f30372f6d616b652d69742d736f2d6361707461696e2e6a7067

[2015-07-10 19:24] cmbirk commented on #603
That plugin works if the default google embed code is included on the page instead of being injected.  I believe this is because the service is being run after the angulartics provider is already instantiated.  I need to set up the vendorService as a provider module similar to the prompts module.  It can then be run before the angulartics plugin, which should then recognize GA.

[2015-07-10 22:12] cmbirk commented on #603
this is fixed in a015a0b and bumped to v.1.8.2

[2015-07-10 22:12] #603 closed

[2015-07-14 20:27] cmbirk commented on #589
This is done in 69548f0

[2015-07-14 22:26] seamuskraft opened #608 "Can't Create New Document"
Trying to create a new document and it says that I did not enter a title...but I did: "US Code Title 17 - Copyrights."

I put the doc title in:
<img width="1400" alt="screen shot 2015-07-14 at 6 25 58 pm" src="https://cloud.githubusercontent.com/assets/2349231/8686608/d9ad5832-2a55-11e5-838d-38d13ed396eb.png">

But get this error:

<img width="1405" alt="screen shot 2015-07-14 at 6 26 19 pm" src="

[2015-07-14 22:47] cmbirk commented on #608
@seamuskraft thanks for flagging this.  I expect it's an issue with the title having the dash in it, but I'll check it out.

[2015-07-15 03:36] #474 closed

[2015-07-15 03:39] cmbirk commented on #60
Closing this as out of scope.

[2015-07-15 03:39] #60 closed

[2015-07-15 13:21] krues8dr commented on #60
Just as an aside, if we create a new key on every deployment, everyone will be logged out of their session because the old key will be invalid.  Probably not a good idea.

[2015-07-15 14:00] cmbirk commented on #60
aha.  That's a good point as well.

[2015-07-15 18:17] cmbirk opened #609 "Homepage featured document intro not parsed as markdown"

[2015-07-15 19:06] cmbirk commented on #609
This is fixed in 0bd2598, but is throwing an error if there is no introtext.  The error is not affecting anything else.

[2015-07-15 19:27] cmbirk commented on #609
This is finally fixed in fe78d5a and tagged with v1.8.4

[2015-07-15 19:27] #609 closed

[2015-07-15 20:10] #589 closed

[2015-08-02 11:29] Vanuan commented on #513
Another option is built-in angular 1.4 support: https://github.com/angular/i18n

[2015-08-10 15:52] seamuskraft opened #610 "Getting 404ed When Attempting to Verify New Document Author"
<img width="823" alt="screen shot 2015-08-10 at 11 51 30 am" src="https://cloud.githubusercontent.com/assets/2349231/9175915/216d2692-3f56-11e5-95b6-b4e6cc6c3d37.png">

Clicking on the "View Request" link (https://u343111.ct.sendgrid.net/wf/click?upn=fXGVuIqtIqhpCndwR-2FNtRWqI1yYOlZIfI3557-2B3X0hpGDzqqgorK6jDDRp0lT0PzPKkFvT7DEoiFVWikfVlHKg-3D-3D_gepHpmWzVYCCtXPvO8uLrccovGFl0IDg3OdDST1g99dZ9d7kDtdm

[2015-08-10 15:54] seamuskraft opened #611 "Create Tasks in Teamwork Every Time User Requests Verification/Groups/Etc"
When someone requests something of an admin (verification, ability to create a group, etc) a task should be created in TeamWork.

[2015-08-31 16:19] krues8dr opened #612 "Homepage summary of featured bill too narrow"
`.doc-content` is 2/3 the width here, inherited from other pages.  Should be 100% on the home page feature.

[2015-08-31 16:25] krues8dr opened #613 "Read Document button being cut off"
Chrome / Ubuntu.  via @audiodude

![fgvldpf](https://cloud.githubusercontent.com/assets/127904/9583782/4b093046-4fdb-11e5-8e45-fb93e4ca1bb9.png)

[2015-08-31 16:26] krues8dr commented on #613
Typography on Linux is always weird.  We're about out of space, so we'll probably have to just slap the text on top of the box and center it.  Using `:after` for the arrow is half the problem.

[2015-09-09 10:59] seamuskraft opened #614 "Failed to Create New Document"
Attempted to create a new document and kept getting "please enter document title to create a document" error.  Couldn't successfully create a document.  Screen shot of where I ended up...

<img width="1412" alt="screen shot 2015-09-09 at 6 57 49 am" src="https://cloud.githubusercontent.com/assets/2349231/9760107/3e738372-56c0-11e5-8b77-559cd6554662.png">

[2015-09-09 14:34] krues8dr opened #615 "Allow documents to be hidden from list & search"
Just need a flag that's toggleable.

[2015-09-09 17:11] seamuskraft opened #616 "User Account Verification Page Does Not Exist"
Clicked on verification email to verify @nickom, but got the below page instead of the admin page:

<img width="1411" alt="screen shot 2015-09-09 at 1 10 41 pm" src="https://cloud.githubusercontent.com/assets/2349231/9768828/4335268e-56f4-11e5-9cd9-7b8eed005b5b.png">

[2015-09-09 18:45] boboroshi commented on #616
Tangentially, "You are lost." is not a very friendly message for a 404. It implies the user screwed up.

[2015-09-09 18:47] krues8dr commented on #616
What if I add `exits are SOUTH, NORTH, and /` ?

[2015-09-09 18:50] boboroshi commented on #616
lol. While I like the reference, do you feel most Madison users will understand it?

![](http://i.ytimg.com/vi/dlbhipB2PcU/hqdefault.jpg)

This might capture it better, but again, you're dealing with the full gamut of internet users here. What some find playful others would find confusing or worse.

[2015-09-09 18:51] cmbirk commented on #616
We have some "Frowning Father" images we can plug in here.

[2015-09-09 20:23] krues8dr commented on #614
Fixed in `dev`.

[2015-09-10 15:46] krues8dr commented on #616
@seamuskraft can you please forward me the email in question?  Thanks!

[2015-09-11 16:33] nickom opened #617 "Table on Contents sidebar sometimes overlaps with text"
Only happens with certain browser window widths, but the minimum buffer should be increased a bit so this doesn't happen:
<img width="728" alt="screen shot 2015-09-11 at 12 22 53 pm" src="https://cloud.githubusercontent.com/assets/3171982/9820327/2be8913a-5881-11e5-94b3-34ec4f1dac9e.png">

[2015-09-11 18:08] #614 closed

[2015-09-11 18:08] #615 closed

[2015-09-11 18:32] krues8dr opened #618 "Private docs show up in the featured spot"
Looks like I missed a query.

[2015-09-11 18:37] #618 closed

[2015-09-11 18:38] krues8dr opened #619 "Make 404 page better."
Needs work, per #616

[2015-09-11 18:38] krues8dr commented on #616
Fixed the original issue, opened #619 for the 404 page.

[2015-09-11 18:38] #616 closed

[2015-09-14 14:47] nickom opened #620 "Green banner font?"
@krues8dr tells me the right font is not loading (seen in Chrome and Safari):
<img width="1311" alt="screen shot 2015-09-14 at 10 46 27 am" src="https://cloud.githubusercontent.com/assets/3171982/9852739/e103cfa0-5acd-11e5-8de5-6a0de94d66c5.png">

[2015-09-14 14:48] krues8dr commented on #620
Looks like none of the google fonts are loading, I must have messed up something.  I can also see that font awesome *is* loading but not showing up for everyone else.  Something strange is afoot.

[2015-09-14 19:43] krues8dr opened #621 "Better slug handling cleaning"
We've got a funky doc on the front page right now, with no title and a slug of `https://mymadison.io/docs/fcc's-net-neutrality-proposal-03/12/15` which is failing.

[2015-09-14 19:48] krues8dr commented on #621
I made use of our new private feature (ah-ha!) to hide this for now.

[2015-09-14 19:50] krues8dr opened #622 "Icons in annotator popup are missing"
Looks like I missed a couple of replacements from the old glyphicons to font awesome in the template.

[2015-09-14 20:36] #622 closed

[2015-09-14 20:36] krues8dr commented on #620
@nickom Is this now resolved?

[2015-09-14 20:50] #612 closed

[2015-09-14 20:51] #608 closed

[2015-09-14 20:52] #610 closed

[2015-09-16 18:10] krues8dr opened #623 "Growl errors for signup not showing up."
per @seamuskraft

[2015-09-16 18:10] krues8dr opened #624 "Password reset not sending?"
per @seamuskraft

[2015-09-16 18:24] seamuskraft opened #625 ""Read Document" Button Text not Fully Displaying"
See attached screen shot

<img width="478" alt="screen shot 2015-09-16 at 2 14 35 pm" src="https://cloud.githubusercontent.com/assets/2349231/9914186/97945076-5c7e-11e5-8fa0-17eed5d8638d.png">

[2015-09-16 18:24] seamuskraft opened #626 "Sign Up Field Text Not Fully Displaying in Firefox"
See attached screen shot

<img width="1433" alt="screen shot 2015-09-16 at 2 08 18 pm" src="https://cloud.githubusercontent.com/assets/2349231/9914203/b0a70356-5c7e-11e5-8097-1ce1d406f74c.png">

[2015-09-16 18:35] #623 closed

[2015-09-16 18:36] krues8dr commented on #624
Sending ok.

[2015-09-16 18:36] #624 closed

[2015-09-16 18:38] krues8dr commented on #625
Dupe of #613

[2015-09-16 18:38] #625 closed

[2015-09-16 18:38] krues8dr commented on #613
Also happening in Firefox/Mac

[2015-09-16 21:03] krues8dr opened #627 "Grunt not always generating new files"
Might be a race condition?

[2015-09-16 21:04] krues8dr opened #628 "Adding annotations doesn't update side numbers."
Need to trigger the binding to update those.  Easy fix is just to refresh that data on update.

[2015-09-16 21:08] cmbirk commented on #628
It's running into a `[ngRepeat:dupes]` error.  The fix is something like `ng-repeat="something in somethingElse as $index` I think.

[2015-09-16 21:09] cmbirk commented on #628
or rather `track by $index`

http://www.anujgakhar.com/2013/06/15/duplicates-in-a-repeater-are-not-allowed-in-angularjs/

[2015-09-17 16:51] krues8dr opened #629 "Comment/login problem"
Via Waldo:

[2015-09-17 18:23] cmbirk opened #630 "Permalinks open discussion tab"
Permalinks to annotations end up with the discussion tab open, which obviously doesn't scroll to the intended annotation on the document tab.

[2015-09-17 18:25] krues8dr commented on #629
* [ ] Login returns to home page, not last page visited
* [ ] Successful comment does not reload comments list
* [ ] Can't reproduce the not-logged-in bit, so I'm guessing there's a login error not being shown.

[2015-09-17 18:27] waldoj commented on #629
* [ ] creating an account doesn't log in the user

[2015-09-17 18:30] krues8dr commented on #629
:+1:

Ok, so it looks like we're not actually letting people login if their account isn't confirmed yet, but it says we're logging them in.  That's a big problem. @cmbirk thoughts?

[2015-09-17 18:32] krues8dr commented on #629
I think we can fix the login issue per above, but we need to have a bigger team discussion (and pretty big rearchitecting) about letting users login without being confirmed.

[2015-09-17 18:33] waldoj commented on #629
FWIW, I haven't gotten any kind of a confirmation email, nor was I notified at registration time that I would need to look for such an email.

[2015-09-17 18:39] krues8dr commented on #629
It claims you did?
![screen shot 2015-09-17 at 2 35 21 pm](https://cloud.githubusercontent.com/assets/127904/9942578/dd4984bc-5d49-11e5-9ce5-8e105cd6708d.jpg)

[2015-09-17 18:39] cmbirk opened #631 "change docs updated_at and changed_at fields to datetime"
We're getting out of range errors on the timestamp

[2015-09-17 18:42] cmbirk commented on #587
This has been fixed.

[2015-09-17 18:42] #587 closed

[2015-09-17 18:48] waldoj commented on #629
Uh. I've got nothin'. I just searched through my mail and I see that I received a confirmation message at 12:26 PM EDT (maybe your system is in CDT?), but it doesn't look at _all_ familiar. My Chrome history has no record of me going to the verification URL, and autocomplete for the URL in the email fails. Maybe I just clicked through that confirmation step so quickly that I immediately forgot all

[2015-09-17 21:46] seamuskraft opened #632 "Floating/Out of Place Annotations"
Logged in and got this floating annotation (top right of the following screen shot):

<img width="1413" alt="screen shot 2015-09-17 at 5 44 05 pm" src="https://cloud.githubusercontent.com/assets/2349231/9946836/f7721aba-5d63-11e5-9b13-785016daa635.png">

[2015-09-17 22:20] krues8dr commented on #632
This is a dupe of #573, which only Seamus seems to be able to trigger for some reason.  I can't reproduce in Firefox or Chrome.

[2015-09-17 22:20] #632 closed

[2015-09-17 22:21] krues8dr commented on #573
This is most likely a race condition on adding annotations, but I've beaten that code to death and can't find it.  I also can't reproduce this.

[2015-09-18 13:35] krues8dr opened #633 "Remove dislike button"
per conversation this morning, doesn't actually help to remove noise, ends up removing valuable content.

[2015-09-18 15:11] cmbirk commented on #633
Yeah.  Talked about moving to a Product Hunt model.

[2015-09-18 15:18] krues8dr commented on #633
I'm not for sale.  Wait, right, the website.

[2015-09-18 15:31] seamuskraft opened #634 "Floating/Out of Place "Read More" Button on the Home Page"
I'm using Chrome Version 45.0.2454.93 (64-bit).

<img width="1203" alt="screen shot 2015-09-18 at 10 20 44 am copy" src="https://cloud.githubusercontent.com/assets/2349231/9963340/d405d734-5df8-11e5-8cff-306c024ae979.png">

[2015-09-18 15:32] krues8dr commented on #634
There's no summary so it's stuck in the wrong place. :/

[2015-09-18 15:39] seamuskraft commented on #634
Roger that.  But I don't think we should force a summary to be posted on
docs (in order to not screw up the formatting).  Right?

- Seamus

Seamus Kraft
Executive Director & Co-Founder
The OpenGov Foundation <http://OpenGovFoundation.org>
Ph: +1-760-659-0631
Tweet Us @FoundOpenGov <http://twitter.com/foundopengov>

On Fri, Sep 18, 2015 at 11:32 AM, Bill Hunt <notifications@github.com>
wrote:

[2015-09-21 14:52] cmbirk opened #635 "Don't require users to verify emails on registration"

[2015-09-21 15:17] cmbirk commented on #635
I'm on board with this.

We have the prompt that is shown if you register via Twitter that sits at the top and consistently asks for an email.  We can use the same thing if the user hasn't verified their email address.

We'll want to make sure that emails aren't being sent to any unverified addresses, however.

[2015-09-21 17:45] cmbirk commented on #634
Yeah, we shouldn't force summaries.  That should be a block element instead of floating.  It appears to only happen on one viewport size.

[2015-09-21 20:16] krues8dr opened #636 "Add TOS etc to templates"
Looks like that got skipped in the design.

[2015-09-21 20:47] krues8dr commented on #629
Opened #635

[2015-09-21 21:07] waldoj commented on #635
I feel like there's a design pattern for this, because I've definitely used sites that require an email registration, but that let me use the site in the interim. Maybe it's that they require confirmation, but there's a grace period of X minutes or hours until the account has to be confirmed?

The one catch with that is if there are any actions that the user can perform on Madison that will send a

[2015-09-21 22:10] krues8dr commented on #635
:+1: Yup, we talked through all this.

* [ ] Show message when user logs in telling them to confirm
* [ ] Don't send any emails if the user hasn't confirmed
* [ ] Cron job to nag users if they haven't confirmed after X days

[2015-09-22 14:48] Vanuan opened #637 "Facebook sign up: "Undefined index: first_name" error"
I set up a new facebook app. API version is "2.4".
I set up client_id and secret.
When I try to signup I get  "Undefined index: first_name" error.

[2015-09-22 14:49] Vanuan commented on #637
Error output:
[code]

[2015-09-22 14:53] Vanuan commented on #637
Graph API's "/me" now returns this:

[code]

No email, first name or last name returned

[2015-09-22 14:59] krues8dr commented on #637
I wouldn't be at all surprised if facebook changed their API format without letting anyone know.  Thanks for the report!

[2015-09-22 15:02] Vanuan commented on #637
To fix this, one should use this:

    /me?fields=first_name,last_name,email,id

[2015-09-22 15:06] Vanuan opened #638 "Request to be a sponsor link leads to 404"
Navigating to `/documents/sponsor/request` (from account settings page) redirects to 404.

[2015-09-22 15:12] Vanuan opened #639 "A group creation form doesn't validate fields"
If you don't fill all required fields on the page `groups/edit`, it fails silently.

[2015-09-22 16:09] #637 closed

[2015-09-22 16:09] krues8dr commented on #637
Nice work, thanks!

[2015-09-22 16:32] krues8dr commented on #638
Yup, looks like this didn't make it through the conversion from laravel -> angular.  I'll hack this together real quick.

[2015-09-25 19:47] Vanuan opened #641 "Admin set up doesn't work"
Step to reproduce:

1. artisan db:clear
2. artisan migrate
3. set ADMIN_EMAIL/PASS environment variable
4. artisan db:seed
5. Try to login using values from env

Expected:

successful login

Actual:

Email does not exist!

[2015-09-27 14:07] Vanuan commented on #641
Database seeder has this:

        if (app('env') == 'production') {
            return;
        }

How am I supposed to create admin user?

[2015-09-27 14:18] Vanuan commented on #639
Thanks. I see validations, but they are permanent (don't autohide)

[2015-09-27 14:55] krues8dr commented on #639
Right, we disabled autohiding since people weren't always seeing the messages, per #629.  If you re-submit the form they'll be dismissed, or you can close each individually.  We could be smarter about this and auto-validate as you go, but that'll have to come later since we don't have any validation-only API endpoints setup.

[2015-09-27 15:24] Vanuan commented on #639
No, they are not dismissed on resubmission. Ok, so it's a global thing, not specific to groups.

[2015-09-27 15:24] #639 closed

[2015-09-27 16:33] Vanuan opened #642 "XMLHttpRequest: http vs https"
Error:

[code]

[2015-09-27 17:23] Vanuan opened #643 "Incorporate suggested edits?"
they may even choose to incorporate suggested edits straight into their documents.

Can't find such functionality...

[2015-10-05 14:57] krues8dr commented on #642
I assume this is from typing in the entry box on the Site Settings page to choose a new featured document?  Hmm, I'm not seeing this one on the live site, it's all serving properly over https.

[code]

[2015-10-05 15:11] Vanuan commented on #642
@krues8dr This is in master. Mymadion.io is not master, I believe?

[2015-10-05 18:03] krues8dr commented on #642
It is using master on the live site, though it might be a commit or two behind at any given time.  Can you check to see if it's following a redirect or anything to get there?  That's really odd.

[2015-10-06 13:41] krues8dr commented on #643
Correct, this functionality doesn't exist in the current version.  We're actually having to rethink this entire workflow with the new editor - in that, collaborators can make suggestions and the author can incorporate those changes, but we still need to figure out how the public's comments could be automatically included.

[2015-10-06 13:41] #643 closed

[2015-10-07 15:44] werdnanoslen opened #645 "Locked composer package versions don't jive with common RHEL repos"
I've been trying to set up Madison on RHEL, but the versions specified in the composer.lock file don't work well with commonly trusted RHEL repos. Would you consider revising package version requirements so that operators on large systems (like universities and, probably, government offices) can use php versions tracked by trusted repos? For example, many important packages tracked by those repos

[2015-10-07 15:57] krues8dr commented on #645
We haven't looked this over in a while, to be perfectly honest - if you can list particular packages that are problematic, we're happy to revise and update.

That being said, we're not going to officially support PHP 5.4 moving forward since it's [EOL and not receiving security patches](http://php.net/supported-versions.php).  PHP 5.5 will get the same treatment next year.  CentOS is my preferred

[2015-10-07 16:05] krues8dr commented on #645
(Also, there's [RHEL Software Collections](http://developerblog.redhat.com/2013/01/28/software-collections-on-red-hat-enterprise-linux/),  [PHP 5.6](https://www.softwarecollections.org/en/scls/rhscl/rh-php56/).)

[2015-10-07 16:07] werdnanoslen commented on #645
Yep, I went ahead and started configuring everything on 5.6, but things like composer and phpmyadmin in common repos still require 5.4. So I'm spending time building/maintaiing these things manually

[2015-10-07 16:09] krues8dr commented on #645
That is a pain, and I agree it's less than ideal.  We're looking into config management/containerization to help alleviate some of these pains right now.  Suggestions and input are welcome!

[2015-10-07 18:19] werdnanoslen opened #646 "PDO exception on artisan migrate"
Following install.md on RHEL 7.1 using PHP 5.6.14 gives me the following error on the last step:
[code]

[2015-10-07 18:20] cmbirk commented on #646
It looks like you may not have MySQL running.

[2015-10-07 18:22] werdnanoslen commented on #646
No, it's definitely running

[2015-10-07 18:23] cmbirk commented on #646
Make sure you're migrating in the right environment by using
`php artisan migrate --env=your_environment`

[2015-10-07 18:24] krues8dr commented on #646
Yeah, this looks like a configuration issue.  That error means that PDO can't connect to MySQL with the supplied credentials.  Other obvious causes could be that the user can't connect via localhost (if that's how you have it setup).

[2015-10-07 20:02] werdnanoslen commented on #646
The credentials I put in madison/app/config/creds.php are the same as the user that has access to the madison database. I have tried using both --env=production and development, as are specified in the files (I confess I'm not very familiar with this, so perhaps I'm missing something?).

[2015-10-07 20:06] werdnanoslen opened #647 "Documentation link in README 404's"
In readme.md, under the installation section, there's a link to http://madison.readthedocs.org/en/dev/, but that does not exist.

[2015-10-07 20:10] krues8dr commented on #646
Hmm.  I'm going to run through the really low level questions here, so apologies if these are obvious:

* In the application root (the level above `public/`) do you have a `.env.php` file that [looks like this](https://gist.github.com/krues8dr/79dfd358a15e8716e24c)?
* Have you tested logging in with the user info in that file through the mysql command line client?  (`mysql -u madison-user -p madis

[2015-10-07 20:26] cmbirk commented on #646
You won't be able to pull up the site without running the migrations.  The credentials for the application are in the `.env.php` file mentioned above.  Try setting up that file and running the migrations again.

[2015-10-07 20:59] werdnanoslen commented on #646
Ok, I've copied the credentials from creds.php in .env.php (I suggest this step go into install.md), that fixed the migration issues.

[2015-10-07 21:03] cmbirk commented on #647
It looks like there is a problem with the readthedocs build.  I'm taking a look.  Thanks @werdnanoslen

[2015-10-07 21:24] cmbirk commented on #646
Awesome.  Thanks for the heads up @werdnanoslen .  We'll get that added.  Pull requests are also always welcome ;)

[2015-10-07 21:55] werdnanoslen commented on #646
No problem: #648.

[2015-10-07 21:55] #646 closed

[2015-10-07 22:20] werdnanoslen opened #649 "API calls 404 on fresh install"
I've followed install.md so far (also ran bower and npm installs), and everything seems configured properly, but when loading it the browser for the first time, the api 404's. I have my server's DocumentRoot set to the madison/public directory.

Open the web console here: [http://waltprogram.lmc.gatech.edu](http://waltprogram.lmc.gatech.edu)

[2015-10-08 15:31] krues8dr opened #650 "Improve custom theming."
Two things to be done here:

* [x] Make most of our variable settings in `globals.scss` and elsewhere have the `!default` flag.
* [x] Create a `custom` folder and use glob-import to bring it in first. (`@import ./custom/*`), overriding any defaults.

[2015-10-09 15:06] krues8dr commented on #649
It looks like *none* of your url rewriting is working.  Is this Apache?  If so, you need to make sure `AllowOverride All` is set for the VirtualHost.

[2015-10-09 15:14] werdnanoslen commented on #649
Ah, thanks, I hadn't configured that when I changed the document root.

[2015-10-09 15:15] krues8dr commented on #649
Great, looks like that cleared it up!  Nice!

[2015-10-09 15:16] krues8dr opened #651 "If there are no documents, make sure that Featured and Active document areas don't show up."
On http://waltprogram.lmc.gatech.edu/ right now, they have no documents and just have big blank areas on the page.  That's less than ideal, we need some sort of default content here.

[2015-10-09 17:43] werdnanoslen commented on #649
Yep, added that and instructions to #648

[2015-10-09 17:43] #649 closed

[2015-10-09 17:49] werdnanoslen commented on #651
For reference, since the site's under development: [http://imgur.com/Wi5DDTE](http://imgur.com/Wi5DDTE)

[2015-10-09 18:22] cmbirk commented on #651
Right now we have the `php artisan db:seed` set up to enter a couple default documents.  We can certainly also add placeholders there.

[2015-10-14 04:03] werdnanoslen commented on #641
I also have this issue. After also creating the user via the "sign up" feature, I was able to log in, however there is no change in anything, e.g. no ability to add documents.

[2015-10-14 13:13] krues8dr commented on #641
Right, users have to be confirmed to add documents - for our use case, we don't want just anyone drafting legislation on an official government website.  And, of course, the only way through the website to approve users is to be an admin yourself.  You can, however, just go into the database and promote yourself.

I'll work on a fix for the original issue this week.

[2015-10-15 17:16] krues8dr commented on #641
Ok, db:seed is part of laravel, so we don't have any control over that and can't fix.

So your options here instead are:

1) Run in development mode, create your user, and then switch to production mode

or

2) Use the `user:create` and `user:addRole` commands to create a new user and promote them to `Admin`.

[2015-10-15 18:08] #647 closed

[2015-10-15 23:52] Vanuan commented on #641
db:seed is part of laravel, so we don't have any control over that and can't fix.

WHAT?

[2015-10-15 23:54] krues8dr commented on #641
Oh wait.  I see it now, we're using ours, not laravel's.

[2015-10-15 23:55] Vanuan commented on #641
Look here:

https://github.com/opengovfoundation/madison/blob/070850ece6b68043fc878676643688429517b353/app/database/seeds/DatabaseSeeder.php#L48

[2015-10-15 23:55] krues8dr commented on #641
Yup, will resolve tomorrow.  Bumped and prioritized.

[2015-10-15 23:55] krues8dr commented on #641
Sorry for the confusion.

[2015-10-16 15:28] krues8dr commented on #641
Fixed, LMK if that doesn't work!  Thanks again for the report!

[2015-10-16 15:28] #641 closed

[2015-10-23 09:34] barryvdh commented on #513
So, is there any update on this?

[2015-10-23 14:50] krues8dr commented on #513
Actually, yes!  I got most of this figured out over on the editor in opengovfoundation/madison-editor@9f2f0803c91e87c38da12cca66cf7d2e2ef80f6b and I'm implementing this in Madison today.

[2015-10-25 19:27] ritvikgautam commented on #619
I'll do this.

[2015-10-26 13:08] krues8dr commented on #619
Thanks @ritvikgautam - but I'm not sure that makes it any more clear.  For most of our users, a 404 error is pretty opaque.  I think we need some more wording here, along the lines of `The page you're looking for is no longer here.  It may have moved, or the document may have been taken down by the author.`

Even better would be to have below that suggested links - go to the home page to search fo

[2015-10-26 14:30] ritvikgautam commented on #619
Sure! I'll look into that.

[2015-10-26 14:50] ritvikgautam commented on #619
I've made some changes. Please check now.
I've added the text as per your suggestion and have included a link to read more about the error on wiki.

[2015-10-26 16:32] krues8dr commented on #619
That's great @ritvikgautam - this is definitely better than the old one we had!  Thanks!

[2015-10-26 16:32] #619 closed

[2015-10-28 14:59] barryvdh commented on #630
I'm also having this issue. it links to `/docs/example-document#annotation_6`, but when clicked, nothing changes.
When I paste the url to visit the link, I end up on the discussion page, not the sidebar.

I would rather that, when I click on a annotation, it would just jump to the sidebar (instead of the popup at all), any idea how that would be best handled?

[2015-10-28 16:27] Vanuan opened #653 "Multichapter documents"
Currently, madison doesn't support big documents. There's a hard limit in database. It'd be good to have support of multichapter documents.

[2015-10-28 17:27] krues8dr commented on #653
It's true.  Since `doc_contents` is already broken out as a separate table, this would be rather easy to do.  The first step would be to change `contents` from `text` to `mediumtext`.  From there, allowing multiple doc_contents rows per document would make sense, splitting them up on edit and recombining on load.  (Maybe a "view more" on the frontend for each chunk to help users, along with an opt

[2015-10-28 17:29] cmbirk commented on #653
Agreed.  We probably need to move this issue up as a priority.  When looking at policies that citizens are willing to engage in, these frequently are very long documents or budgets.

[2015-10-28 17:30] krues8dr commented on #653
![](http://i.imgur.com/v0TVx1N.gif)

[2015-10-28 18:22] Vanuan commented on #653
So, there are actually 2 features I'd like to be supported:
1. To be able to upload large documents
2. To be able to navigate large documents more easily

Solutions:
1. Transparent large document support (store as separate chunks internally, combine at UI side)
2. Arbitrary chapter splitting. Edit and view document chapters independently.

America decoded is great in that regard, but it lacks comm

[2015-10-28 18:37] krues8dr commented on #653
Your #2 as described is actually pretty tricky, and not something we could do easily, since truly "arbitrary" is, well, arbitrary. That is assuming you'd want something like a tree-view of the hierarchy of the document - the only way to do that is by storing the entire documents as one big XML chunk and doing XPath at the database layer (which is possible in both MySQL and Postgresql these days).

[2015-10-30 08:23] kylebarney opened #654 "Annotations + Comments Showing Up Out of Place and One Doc Behind"
Viewed in Chrome browser on a Mac OS.

Floating annotation and discussion icons floating at the top of the page (see screenshot).

The icons also do not pertain to the document being view but rather the document the used viewed *previous* to the current document. (Notice how on the screenshot the sidebar is open, but refers to a letter from the IRS rather than the document on the screen.)

![madis

[2015-10-30 08:51] kylebarney commented on #654
Just saw that this is a duplicate of #573.

[2015-10-30 12:37] krues8dr commented on #654
@kylebarney Can you reproduce this consistently? Every time, or just some of the time? If so, what OS and browser are you using?  Thanks!

[2015-10-30 16:06] krues8dr opened #655 "New Madison Mailinglist, Developers Survey"
Hi, you're receiving this notice because you've made a comment, issue, or pull request on The OpenGov Foundation's Madison project on Github.

We have created a new, public mailing list for Madison development in Google Groups that you might be interested in subscribing to.  We'll be using this as the official channel for all Madison developer news, announcements, and chat from now on.  (Though bu

[2015-10-30 17:25] kylebarney commented on #654
I'm able to reproduce the bug consistently on OS X 10.11.1 with both the Chrome (46.0.2490.80 (64-bit)) and Firefox (41.0.2) browsers. The bug also appear when accessing the site on Windows 8.1 with Chrome (46.0.2490.80 m) and Firefox (41.0.2).

The bug did **not** appear when accessing the site on Windows 8.1 with IE (11.0.9600.18053).

In all cases, the bug does not appear on the first document

[2015-10-30 17:48] kylebarney commented on #654
After further investigation, it appears that there are a lot of additional annotations stacked up behind that front bug - see screenshot. (Hover your cursor over the right hand side of the bug to replicate.)

![screen shot 2015-10-30 at 11 38 49 am](https://cloud.githubusercontent.com/assets/15039520/10853305/01563ad0-7efb-11e5-8c68-3bc64d2e6b43.png)

Additionally, (and this is really weird), if I

[2015-10-30 17:50] krues8dr commented on #654
I suspect that the old annotations aren't being removed properly when the view is changed.  I'm not sure why that is, they should be destroyed when they leave scope.  It could be that the magic I'm doing to parse them at the model layer is putting them into global scope; it could be as simple as a missing `var` declaration.

[2015-10-30 18:56] cmbirk commented on #654
There may be an angular `$scope` issue.  That's designed to handle this.

[2015-11-10 18:06] krues8dr commented on #636
These documents should be added to start: https://github.com/opengovfoundation/site-policy/tree/master/markdown

[2015-11-12 19:07] cmbirk commented on #633
This mean changing the 'thumbs up' icon to an up arrow similar to Product Hunt's.  This changes the connotation away from 'liking', which can be subjective.

<img width="1394" alt="screen shot 2015-11-12 at 1 06 06 pm" src="https://cloud.githubusercontent.com/assets/764851/11128250/4ab8d9e2-893e-11e5-89cb-078f4db4d962.png">

[2015-11-12 19:07] cmbirk commented on #633
This also means we will need to change the way that the items are sorted on the right hand side.

[2015-11-12 19:12] cmbirk opened #656 "Upgrade to Laravel 5"
Would like to get this done before we start getting heavy usage from Chicago.

There's an upgrade guide [here](http://laravel.com/docs/master/upgrade#upgrade-5.0) on the steps required.  There will obviously have to be significant testing afterward as well.

[2015-11-12 20:53] werdnanoslen opened #657 "Not receiving confirmation email, permissions error"
I'm able to create a user in the database via sign up page and then log in, but I never get a confirmation email and nothing requiring authentication works.

I'm getting this error upon clicking the "Sign Up" button on the registration page (POST to http://waltprogram.lmc.gatech.edu/api/user/signup):
[code]

Apache write permissions set on app/storage:
[code]

Is there another user/group that need

[2015-11-12 20:56] cmbirk commented on #657
Those look right to me at first glance.  Can you confirm the same permissions on the sub-folders?  @krues8dr you see anything I'm missing?

[2015-11-12 20:59] krues8dr commented on #657
We need to see the permissions in the logs directory to be sure, but I'd guess that the file in question isn't writable by `apache` according to that error.  You could try `sudo chown -R apache:apache "/var/www/html/madison/app/storage/` to be safe.

If you're not getting a confirmation message, then it might not be sent.  If you're using the builtin mailer, you'll have to check (I think) `/var/lo

[2015-11-12 21:01] werdnanoslen commented on #657
The ```app/storage/logs``` folder mentioned in the error:
[code]

Also, I'm checked out on the last release: 1.8.5

[2015-11-12 21:15] krues8dr commented on #657
Is `Apache` running as the `apache` user?  That's really the only other thing I can think of here.

[2015-11-12 23:27] werdnanoslen commented on #657
Ran the usual suspects ```ps aux | egrep '(apache|httpd|www-data)'``` and yes, it's ```apache```

[2015-11-12 23:32] krues8dr commented on #657
Hmm.  Extended permissions maybe?  Can you run [`getfacl`](http://www.lpice.eu/cz/domu/linux-tip-of-the-month/05-2013/) on it?

[2015-11-12 23:38] werdnanoslen commented on #657
Nothing out of the ordinary
[code]
[code]

[2015-11-12 23:47] krues8dr commented on #657
Sorry, but that's the last thing I can think of, I can't think of a single other thing that can cause it to throw a permissions error.  You might need to turn on debug in the app config to get more details here, but even with it really there's nothing else that could be happening that I can come up with.

[2015-11-12 23:48] krues8dr commented on #657
You might `touch` that file with and chown it to apache to see if that fixes it magically?

[2015-11-13 00:00] werdnanoslen commented on #657
Tried that, too, but it can't open the file. I did turn on debug, but no error messages were available.
Thanks for helping out!

[2015-11-13 00:05] krues8dr commented on #657
Oh!  Wait, that `.` at the end is indicating a SELinux flag.  Try `ls -Z` on the directory, and `getenforce` will tell you what mode SELinux is currently running at.

[2015-11-13 00:19] werdnanoslen commented on #657
Oh wow nice catch, I didn't realize my sysadmin had set up SELinux on here! So many problems solved...

[2015-11-13 02:01] krues8dr opened #658 "Add internationalization for emails"
All the messages we sent out (password reset, confirm email address, etc) need internationalization of some sort.  For #513.

[2015-11-13 02:02] krues8dr opened #659 "Check internationalization for datepicker"
We're using the Angular datepicker, which supposedly supports internationalization, but we need to test this and doublecheck.  For #513.

[2015-11-13 02:05] krues8dr opened #660 "Add internationalization for serverside errors."
Whenever we get raw errors from the server, we should be sending a generic error string, which then gets translated in Angular before showing to the user.  Use the same format here that we use for the keys in [the language files](https://github.com/opengovfoundation/madison/blob/i18n/public/locales/en_US.json) for ease of implementation.  For #513.

[2015-11-13 02:07] krues8dr opened #661 "Internationalization for database content."
We have some content coming from the database - statuses, the notification list, etc - which all need to be internationalized when Angular gets them.  Wrap these in all the places they occur with a translate filter.  Change the server sending to use generic messages, as in #660.  For #513.

[2015-11-13 02:10] krues8dr opened #662 "Internationalization for intro message."
We need to add translation for the "Want to craft legislation" message that appears at the top of the site.  This is created in the main app controller in Angular, but for some reason I can't get it to actually translate.  It looks like the translations aren't available by the time this runs.  We need to figure out how to fix this.  For #513.

[2015-11-13 02:16] krues8dr commented on #513
Ok, I've made a big dent in this.  You should be able to create your own locale files and add them in the `public/locales` folder, matching the format of the `en_US.json` one I've created.

There are a few outstanding pieces of this that I haven't had time to deal with, and I could certainly use some help on these:

* [ ] Add internationalization for emails #658
* [ ] Check internationalization fo

[2015-11-13 03:35] werdnanoslen commented on #657
Yep, it was all SELinux's fault. So I set the proper attributes on the directory and it all works fine now. Also, the gmail problem was that gmail now requires you to explicitly allow low-security apps to access accounts. Thanks a ton for that attention to detail @krues8dr! Closing.

[2015-11-13 03:35] #657 closed

[2015-11-13 14:25] krues8dr commented on #513
This is all in the [`i18n`](https://github.com/opengovfoundation/madison/tree/i18n) branch at the moment, but will get merged into `master` very soon.

[2015-11-13 14:27] werdnanoslen commented on #645
All required packages for RHEL can be found in Remi repos

[2015-11-13 14:27] #645 closed

[2015-11-13 14:31] krues8dr commented on #645
:+1:

[2015-11-13 14:33] krues8dr commented on #645
@werdnanoslen would you mind copying and pasting the details of what you had to run here so I can add a new section to the installation instructions, please?  Thanks!

[2015-11-13 15:08] werdnanoslen commented on #645
I'm running Red Hat Enterprise Linux Server release 7.1 (Maipo), using these packages:
[code]

[2015-11-15 18:26] krues8dr opened #663 "Make user id in sessions table nullable"
Just need a quick migration here.  Via @sethetter

[2015-11-16 12:03] barryvdh opened #665 "Popup when not authorized"
Is it possible to restrict some pages with the roles, but when not logged in, show a login popup, before showing the page? This would be easier for link sharing etc (eg private documents), as the user can be redirected to the intended page.

[2015-11-16 13:53] krues8dr commented on #665
This would be possible - but right now the concept of "private documents" is designed to allow anyone with the link to view the document, without needing to login.  To do this *right* we'd need a better concept of fine-grained permissions like what Google Docs does:

* Anyone can view this document
* Anyone with the link can view this document
* Anyone with the link and who is a registered user ca

[2015-11-16 14:13] krues8dr opened #666 "Use random for private documents"
One issue with regard to #665 is that if you know the name of a document, you can _probably_ guess the correct url for it.

* [ ] We need a way to create a nice random url string that's used only for private documents.
* [ ] Then if the user makes the document public, we need a way to suggest to them to change the url to something more friendly.
* [ ] If the user makes a public document private, w

[2015-11-16 14:20] barryvdh commented on #665
How do I use the standard redirect?

In my case, I want to make all documents private, so I add the role permission to the document route:

[code]

But that gives a flash message bout not being logged in, an redirects to the homepage. Instead, I would have preferred a redirect to loginpage, and when loggin in, back to intended document. Is that already possible then?

[2015-11-16 14:26] krues8dr commented on #665
Ah, that looks like a bug and the offending line is here:  https://github.com/opengovfoundation/madison/blob/master/public/js/app.js#L96

It'll be a couple of hours before I can get to this, sorry for the delay.  Feel free to hotfix and send over a PR if you have the time and interest though!  Thanks!

[2015-11-16 17:06] #663 closed

[2015-11-16 17:08] cmbirk commented on #630
I think this is in `documentPageController.js`.

[2015-11-16 17:12] cmbirk commented on #638
@krues8dr was this done?

[2015-11-16 17:25] krues8dr commented on #638
Yeah, it's done on `dev` branch.

[2015-11-16 17:25] #638 closed

[2015-11-16 19:07] krues8dr opened #667 "Filters on admin group page aren't actually filtering."
I may have broken this when creating the user invite/confirm functionality.

[2015-11-16 19:08] krues8dr commented on #667
Query parameters are correct, so it's on the api side.

[2015-11-16 19:12] krues8dr commented on #667
Fixed in 455795e1bc518e69f629e764bd1529bb305b98c0

[2015-11-16 19:12] #667 closed

[2015-11-16 21:49] krues8dr commented on #665
This one actually turns out to be more insidious than it originally appeared.  Even after changing that line, the login page is *not* redirecting to the last referenced url.  I still haven't quite figured out why after poking at this for an hour, so this might carryover into tomorrow.  Sorry for the extended delay!

[2015-11-16 21:56] cmbirk commented on #665
Yeah, it looks like there isn't an easy way to grab the previous state:

https://github.com/angular-ui/ui-router/issues/92

Shouldn't be too tough to recreate though.  I can take a stab at it this evening.

[2015-11-16 21:58] krues8dr commented on #665
I've got the previous state, I just copied what I did on the editor.  The weird part is that `$location.url` isn't actually redirecting.  Very strange.

[2015-11-16 22:01] krues8dr commented on #665
You can see where I'm at here - I'm trying to see if missing a local reference to user is the problem.

[2015-11-16 22:30] cmbirk commented on #665
So you don't need to re-grab the user, because `AuthService.login()` handles that by calling `AuthService.getUser()`.

It's currently trying to redirect to `/index` instead of the index state.  We're also only setting the previous state if there is an authorization error.  I would assume we want to return the user to the previous page on **any** login.

[2015-11-17 04:49] cmbirk commented on #665
I got the login redirect finished for any states that don't require parameters in 22f51b5.  Not sure why the correct parameters aren't passing.

[2015-11-17 16:21] krues8dr commented on #665
@cmbirk that doesn't actually seem to be redirecting for me.  The `previousState` object doesn't have what I'd expect in it:  `{name: "", url: "^", views: null, abstract: true}`.  It also looks like you're saving that data on *every* state change, which I think isn't what you'd want.  You can see the way I originally was handling it here:  https://github.com/opengovfoundation/madison/blob/22f51b52

[2015-11-17 16:27] sethetter commented on #633
Removed it from the UI with 91dfb23, let me know if I missed any places.

I'm going to update the `activityOrder` functions next. I also plan to write a migration to clean out dislikes from the database unless there's any obligation. Only reason I could see is if we change our minds on this and want the previous dislikes back again (assuming this is a no).

[2015-11-17 16:29] krues8dr commented on #633
:+1:

[2015-11-17 16:33] krues8dr commented on #665
Hmm, yeah, state doesn't ever actually reach the requested page because of the auth intercept, so you can't actually get the correct state that way.  I think this is why I ended up using location instead on the editor.  I'm going to keep pursuing that route here as I'd originally started on.

[2015-11-17 17:43] cmbirk commented on #665
I was definitely getting the state to come through on the `SessionService.`  I can take a look at this in a bit, the only thing I didn't have working was state routes with parameters.

There are going to be other places down the road where we will want to grab the previous state, so I'm ok with storing that on state change.  It shouldn't affect much at all.

[2015-11-17 18:14] krues8dr commented on #665
There's a race condition in here that's causing this - the user isn't being set in the AuthService before the new page is requested for the edit user page, and as a result you get kicked back to the login screen even though you're technically logged in.  That's why I was doing the call to /current manually.

I'm still having the same issue with `state` and I'm not sure how to work around it, since

[2015-11-17 18:16] cmbirk commented on #665
Always happy with working fixes :)

[2015-11-17 18:18] krues8dr commented on #665
Great.  If we're all :+1: here I'll merge this into dev.

[2015-11-17 18:19] cmbirk commented on #665
Cool, cool.  We may need to figure out a way to broadcast that current user event and subscribe to it instead of making manual calls, but we can cross that bridge later.

[2015-11-17 18:37] krues8dr commented on #665
Ok, this is merged into the `dev` branch - @barryvdh could you give that a shot and see if that works for you?

[2015-11-17 18:39] krues8dr commented on #665
Hmm.  I guess one thing here is that `authorizedRoles` auth list is only on the front-end, and more importantly only works for filtering what roles can view a page.  You'll need to actually change the API to deny users access to private documents if they're not logged in.

[2015-11-17 19:21] cmbirk commented on #665
Yeah, that shouldn't be too tough.  Just handle in the `error()` method when grabbing the document from the API.

[2015-11-17 19:40] krues8dr opened #669 "Table of contents label is too small"
At some point I seem to have broken the size of this box.

![screen shot 2015-11-17 at 2 39 53 pm](https://cloud.githubusercontent.com/assets/127904/11222554/18048178-8d39-11e5-87ec-348d5b1e7157.jpg)

[2015-11-17 20:16] krues8dr opened #670 "Don't show "Sponsored by" if we don't have the name of the Sponsor."
![screen shot 2015-11-17 at 3 16 17 pm](https://cloud.githubusercontent.com/assets/127904/11223499/36b4936a-8d3e-11e5-9264-b9c7b3edc59c.jpg)

[2015-11-17 20:18] #655 closed

[2015-11-17 20:19] #626 closed

[2015-11-17 20:22] #620 closed

[2015-11-17 20:23] krues8dr commented on #613
This was related to the previous issue with missing fonts.

[2015-11-17 20:23] #613 closed

[2015-11-17 20:24] krues8dr commented on #598
Closing in favor of #665 which is better documented and mostly done.

[2015-11-17 20:24] #598 closed

[2015-11-17 20:25] krues8dr commented on #597
Resolved when I redid the title logic for i18n.

[2015-11-17 20:25] #597 closed

[2015-11-17 20:26] krues8dr commented on #573
This happens reliably when opening a document and then navigating to a different document.

[2015-11-17 20:28] krues8dr commented on #539
At this point, bootstrap has moved on to v4 which resolves most of the work we did to add `rem` support.  As a result, we'd need to redo the theme from scratch. I'm closing this since upgrading bootstrap is not a priority.

[2015-11-17 20:28] #539 closed

[2015-11-17 20:31] krues8dr commented on #496
Elasticsearch is removed, so this is effectively solved afaik.

[2015-11-17 20:31] #496 closed

[2015-11-17 20:32] krues8dr commented on #513
This is now in `master`, but this issue will remain open until those five items are resolved.  Also - if you do create a new locale file *please* contribute it back via a Pull Request to the main repo!  We really could use a *lot* of help on this front!

[2015-11-17 20:35] krues8dr commented on #483
Closed in favor of #621

[2015-11-17 20:35] #483 closed

[2015-11-17 20:39] krues8dr commented on #463
We automatically save now, so this is no longer an issue.

[2015-11-17 20:39] #463 closed

[2015-11-17 20:40] krues8dr commented on #449
Related to #621

[2015-11-17 20:42] krues8dr commented on #405
Bumping this up in priority since it goes hand-in-hand with the i18n work ( #513 ).

[2015-11-17 22:04] sethetter commented on #633
@cmbirk @krues8dr Code check! -> 94de708

[2015-11-18 14:38] barryvdh opened #671 "Reply on yourself doesn't refresh"
When replying on yourself a thread that you started yourself, the comment doesn't seem to appear. On other cases it does appear.
I'm not getting an error, just nothing happens. On manual refresh, the comment is there.

[2015-11-18 14:39] krues8dr commented on #671
I strongly suspect this is related to #628

[2015-11-18 14:45] barryvdh commented on #671
[code]

[2015-11-18 14:50] barryvdh commented on #671
Sorry that doesn't fix it, still not working. Hope that error helps you at least something.

[2015-11-18 14:54] krues8dr commented on #633
@cmbirk I think one thing we might want to do here is order the comments on the api-side in order of likes? This will make the pagination task ( #604 ) easier. That should happen in [the Comment model](https://github.com/opengovfoundation/madison/blob/94de7089ff95ede9cc7c03f3cfa733140c8d3acf/app/models/Comment.php#L158) I think.

[2015-11-18 14:58] barryvdh opened #672 "Manage categories (no auto-tagging)"
Is is possible to disable the auto-tagging of categories and manage them in the admin? Or should I just create them 1 time and then disable it in the API?

[2015-11-18 15:21] sethetter commented on #633
@krues8dr There were a couple places in angular controllers that took dislikes into account for activityOrder as well. I'll take a look at ordering comments from API by likes for this now.

[2015-11-18 15:22] cmbirk commented on #633
Yeah, we'll only want to do the comments here, because the annotations are line-based ( and then sorted by grouping ).

[2015-11-18 15:23] krues8dr commented on #633
:+1:

[2015-11-18 16:00] krues8dr opened #673 "Move file uploads to subfolder"
We'll want some sort of an `uploads` folder for our featured images (and anything else) so that we can easily symlink that for deployment.

[2015-11-18 16:02] cmbirk commented on #673
Yeah, we'll just want to store this in the laravel `app/storage` directory that gets shared across deployments and then symlink a folder from the `public/img` directory

[2015-11-18 16:03] sethetter commented on #633
Done in f8b51ab, @krues8dr, @cmbirk - code check? I think I could have done this with a SQL query for a little better performance, but it would have been a hell of a query.

[2015-11-18 16:04] krues8dr commented on #633
You'll have to do this with a query for the pagination that's to come.  We can punt on this for now, and create a "total" column in the docs table when we do that.

[2015-11-18 16:08] krues8dr commented on #604
* [ ] Add column for likes to everything relevant for sorting.

[2015-11-18 16:09] sethetter commented on #633
Cool, I assume you mean on the comments table, but I follow. Sounds good!

[2015-11-18 16:09] #633 closed

[2015-11-18 17:24] sethetter commented on #650
Do we want to allow them to override more than just variables?

[2015-11-18 18:21] krues8dr commented on #650
That's the only thing that's critical right now, I think.  If you have other suggestions, let's hear em!  :)

[2015-11-18 18:21] sethetter commented on #650
Well, if we import at the bottom then they can override whatever they want. I didn't know if we wanted to give them that much control though ;)

[2015-11-18 18:22] sethetter commented on #650
Scratch that, variables have to be set ahead of time, just tested, haha. My mistake!

[2015-11-18 18:25] sethetter commented on #650
@krues8dr You said add `!default` to "most" settings. Is there any I should avoid explicitly?

[2015-11-18 18:27] krues8dr commented on #650
Not off the top of my head, I really just meant that we probably want to keep this to settings/globals/etc and not like every variable in the pages files etc.  There are a few tricky places in the bootstrap overrides that might fail miserably but otherwise I'd say just have at it.

[2015-11-18 18:29] sethetter commented on #650
:+1:

[2015-11-18 19:57] sethetter commented on #650
@krues8dr @cmbirk code check? 556af39

[2015-11-18 20:18] cmbirk commented on #673
I actually think we're going to want to ultimately use the [Storage facade](http://laravel.com/docs/5.0/filesystem) for this.  May wait until ( and prioritize) the upgrade to Laravel 5.

[2015-11-18 20:19] cmbirk commented on #558
Closing this as out of scope.

[2015-11-18 20:19] #558 closed

[2015-11-18 20:20] cmbirk commented on #450
This is now going to be handled in the editor.

[2015-11-18 20:20] #450 closed

[2015-11-18 20:20] cmbirk commented on #442
This is going to be handled in the editor.

[2015-11-18 20:20] #442 closed

[2015-11-18 20:20] cmbirk commented on #315
Handled in editor.

[2015-11-18 20:20] #315 closed

[2015-11-18 20:25] cmbirk commented on #289
Closing this as out of scope.

[2015-11-18 20:25] #289 closed

[2015-11-18 20:26] cmbirk commented on #290
Closing this as out of scope.  This will likely be handled by the editor or an integration with CKAN.

[2015-11-18 20:26] #290 closed

[2015-11-18 20:26] cmbirk commented on #288
Closing this as out of scope.

[2015-11-18 20:26] #288 closed

[2015-11-18 20:26] cmbirk commented on #285
Closing this as out of scope.

[2015-11-18 20:26] #285 closed

[2015-11-18 20:27] cmbirk commented on #274
Closing this as out of scope.

[2015-11-18 20:27] #274 closed

[2015-11-18 20:29] cmbirk commented on #199
Closing this as unnecessary.

[2015-11-18 20:29] #199 closed

[2015-11-18 20:31] cmbirk commented on #526
Closing this until a spec is defined.  Probably out of scope if spec requires linked data.

[2015-11-18 20:31] #526 closed

[2015-11-18 20:34] cmbirk commented on #208
This should be resolved.

[2015-11-18 20:34] #208 closed

[2015-11-18 20:36] cmbirk commented on #263
This will now be handled by the editor.

[2015-11-18 20:36] #263 closed

[2015-11-18 20:37] cmbirk commented on #278
This will now be handled by the editor.

[2015-11-18 20:37] #278 closed

[2015-11-18 20:39] cmbirk commented on #422
This is now being handled by the editor.

[2015-11-18 20:39] #422 closed

[2015-11-18 20:39] cmbirk commented on #127
This will be handled by the editor.

[2015-11-18 20:39] #127 closed

[2015-11-18 20:41] cmbirk commented on #75
Closing this in favor of #635

[2015-11-18 20:41] #75 closed

[2015-11-18 20:42] cmbirk commented on #363
This is going to be handled by the editor.

[2015-11-18 20:43] cmbirk commented on #469
This should be resolved.

[2015-11-18 20:43] #469 closed

[2015-11-18 20:50] cmbirk commented on #634
@krues8dr this is resolved, correct?

[2015-11-18 20:51] #595 closed

[2015-11-18 20:52] cmbirk commented on #600
@krues8dr do we know what the issue is here?

[2015-11-18 20:53] cmbirk commented on #634
It is.

[2015-11-18 20:54] krues8dr commented on #600
Uh, no?  I can't remember who even reported this.  :/

[2015-11-18 20:54] krues8dr commented on #634
I don't think it was...?

[2015-11-18 20:57] cmbirk commented on #634
oh, nope you're right.  It only happens on a mid-size window.

[2015-11-19 14:07] sethetter commented on #636
Done in 1a4867

[2015-11-19 14:07] #636 closed

[2015-11-19 14:11] krues8dr commented on #636
One small tweak here - `pull-right` isn't a semantic class name (if we want to put it on the left it no longer makes sense), so please replace that class with something more semantic - `footer-links` or something.  (Of course in the sass you can just make `.footer-links { @extend .pull-right; }`.

[2015-11-19 14:19] sethetter commented on #636
@krues8dr you can tell I've been living in the backend world for a little too long :)

Fixed in 2e2be3c and c46f971.

[2015-11-19 14:20] krues8dr commented on #636
:+1: :shipit:

[2015-11-19 14:24] krues8dr commented on #650
This looks good.  :+1: :shipit:

[2015-11-19 14:29] #650 closed

[2015-11-19 15:42] sethetter commented on #607
3a27bf0

[2015-11-19 15:42] #607 closed

[2015-11-20 05:52] sethetter opened #674 "Upgrade Angular version"
Currently we are at 1.2.28, and latest version is 1.4.7, with 1.5 in beta.

[2015-11-20 13:57] krues8dr commented on #674
Here are few things we'll need to keep in mind, a couple of these might effect us:  https://docs.angularjs.org/guide/migration

[2015-11-24 16:09] #630 closed

[2015-11-24 16:10] sethetter commented on #630
Permalinks should now be working for annotations, annotation comments, doc comments and doc sub comments.

It will highlight the relevant linked item and scroll to it. If it's an annotation, the side panel will also open up.

[2015-11-24 16:25] barryvdh commented on #541
I'm also experiencing this, the navbar doesn't seem to work. Any ideas?
The collapse state does seem to change, but it doesn't show any different. Test in Chrome/safari on mac, and my Android Chrome browser

[2015-11-24 16:49] barryvdh commented on #650
Do you have any suggestions for changing the views? I'd like to keep my fork a bit up-to-date but we require some front-end changes in the templates, which make it hard to avoid conflicts.

[2015-11-24 16:50] krues8dr commented on #650
@barryvdh Can you let us know exactly what you're changing? (Links to examples are great.) Ideally I'd like everything to be completely styleable, but radical changes from the existing structure are going to be hard.

[2015-11-24 16:54] krues8dr commented on #650
For what it's worth, there will likely be one other major refactoring in the near future on the theme front to deal with lots of outstanding mobile issues.

[2015-11-24 17:03] barryvdh commented on #650
The fork is here: https://github.com/Socioneers/pvda-madison
Most changes are:
- different styling (styling would be fixed with this issue)
- Different logo, welcome text etc (changes in partials)
- Extra pages (manual etc), changes in menu (Could be in the database as html/markdown?)
- Translation (is since fixed with internationalisation, but has to be backported still). Not always direct transl

[2015-11-24 18:31] krues8dr commented on #650
Ok let me run down these real quick:

:white_check_mark:

Is there anything here not covered by this and #513 ?

Interesting.  We're definitely edging closer to this with [how I've redone the routes for content pages](https://github.com/opengovfoundation/madison/commit/fa85aed955cc3886e4e7c1d41c03de179b1e1c78#diff-864393ed8ecec6d1624139179851e608R236). But I'm not sure how to do this in the databa

[2015-11-24 21:56] barryvdh commented on #650
Removing comments (or perhaps modify to remove inappropriate content) or entire threads in a discussion. Right now you can flag a comment, but not remove it, right? Or am I overlooking something.

[2015-11-24 22:39] sethetter commented on #656
The recommended path to upgrading Laravel from 4.x to 5.x is to do a fresh install and then copy files over, so this commit is going to be huge.

But, here we go :)

[2015-11-24 22:44] sethetter commented on #656
So far it's looking like one big thing affecting us will be the switch to [Elixir](elixir) for asset management. We'll want to decide whether we want to move to this for our asset management or not.

If we ever want to move the angular frontend to it's own project, then it would be best not to mix it in and rely on it. I'll find out soon enough whether we *have* to use it for frontend assets or no

[2015-11-25 07:52] barryvdh commented on #650
I think it would be good, also to separate the concerns for the developers (maintaining madison) and the admins/users, managing the content. It doesn't have to be as complex as Wordpress, but a simple content management tool for pages and perhaps some other strings (banners, welcome text, footer etc) and make the menu editable, would be nice.
Perhaps there is some nice 3rd party extension we could

[2015-11-26 12:51] barryvdh commented on #541
Can you verify that #678 fixes the problems for you?

[2015-11-30 17:40] krues8dr commented on #541
:+1: Nice work!  Thanks for this!

[2015-11-30 17:40] #541 closed

[2015-11-30 18:17] krues8dr commented on #650
No, that's correct.  I think flagging was intended to send an email to the admins for review and to let them remove/hide comments, but I don't think this was ever built out.  @cmbirk ?

Perhaps there is some nice 3rd party extension we could use for this.

That's a good idea.  I'll add an issue to investigate this.

[2015-11-30 18:24] krues8dr opened #679 "Create system for allowing custom content pages"
I've [refactored the frontend routing to make it easier to have custom content pages](https://github.com/opengovfoundation/madison/commit/fa85aed955cc3886e4e7c1d41c03de179b1e1c78#diff-864393ed8ecec6d1624139179851e608R236), but we need an easier system here.  These all need to be resolved:

* Site admins should be able create their own content pages.
* Currently, content is stored in the localizati

[2015-11-30 18:35] krues8dr opened #680 "Make annotations and discussion optional"
These should each be configuration flags.  There may also be cases where we want to override this in either direction on a per-document basis.  In general, Madison was create to allow users to discuss legislation, but there may be cases where the way we're using it is not relevant to some users.  Some agencies may also just wish to use it to publish documents.  Per the discussion on #650.

[2015-11-30 18:36] krues8dr opened #681 "Granular permissions"
We need a better permission model.  For instance, we should have settings to only allow logged in users (or invited users) to see all/private documents.  Per the discussion in #650.

[2015-11-30 18:46] krues8dr opened #682 "Automatically linkify links"
In content and comments/annotations.

[2015-11-30 19:31] cmbirk commented on #681
+1.  We'll want to scope this out in a bit more detail here.

[2015-11-30 19:34] cmbirk commented on #679
+1.  I would think there's already a CMS-lite-like plugin for Angular that we could use.

[2015-12-02 21:29] sethetter opened #683 "Likes on annotation comments broken"
This is my fault, I switched the annotation subcomments `label` property from `comment` to `annsubcomment`, which affected the URL that the like action is sent to.

https://github.com/opengovfoundation/madison/commit/5b140d127cac8d80178a45380d6b4762048d3ffc#diff-a12fe90e0482e29b674b55e2d1d4a0cbL15

I'll take care of this as soon as the Laravel 5 upgrade is finished.

[2015-12-02 23:07] sethetter commented on #656
I believe this is wrapped up, if anyone wants to check out this branch and do a quick run through of features in case I missed anything, it would be appreciated.

https://github.com/opengovfoundation/madison/tree/issue656-laravel5

@krues8dr @cmbirk

[2015-12-03 04:06] sethetter opened #684 "Highlighting on annotation comments covers action buttons of previous comment"
This is a design issue, highlighting should cover the comment itself and the action buttons below, or at least not cover the previous comment's action icons.

[2015-12-03 14:04] barryvdh commented on #656
Just a few suggestions/thoughts, without much 'internal' knowledge
 - Should we seperate the controller namespaces for the API? eg `Api\AnnotationController` instead of `AnnotationApiController`?
- Should we dump Entrust in favor of the Laravel ACL (gate) component? http://laravel.com/docs/5.1/authorization
- Similar for OAuth, should we just use Laravel Socialite? http://laravel.com/docs/5.1/auth

[2015-12-03 14:07] krues8dr commented on #656
All of that sounds good to me, @barryvdh - unless @cmbirk or @sethetter have objections, we can open those as discrete tickets?  Some of those might be bigger than we can bite off right now, but all would be useful.

@sethetter I'm reviewing all of this now, gimme a bit to chew through everything here this morning.

[2015-12-03 14:11] sethetter commented on #656
+1 on all your suggestions @barryvdh. If you can't tell I'm new to Laravel, so I'm all for input on better approaches and packages to use.

As for Elixir, since the front end is all just an Angular application, using a build tool that's separate from Laravel would be ideal, like we're doing now. I think we're best off not using Elixir.

Thanks @krues8dr! Eager to merge it in :)

[2015-12-03 14:15] krues8dr commented on #656
Sorry, yes, we're actually going to split out the entire frontend in the (hopefully) near future to a standalone repo which will be JS-only, so Elixir does not make sense here.

[2015-12-03 14:23] barryvdh commented on #656
Okay, doesn't matter for Laravel anyways, and easier because Grunt is already set up :)

If I'm going to suggest packages, I always use my own ;)
https://github.com/barryvdh/laravel-debugbar to profile request. This should actually also work with Angular requests, so you can log all the requests that are made via XHR and for example check all queries that are executed in those ajax calls.

https:/

[2015-12-03 15:46] barryvdh commented on #656
I think it would also be better to refactor the controllers to use actual namespaces, instead of classmapping that folder directory. And either place the models in `app/` without namespace, or `app/Models` and use the `Models\` namespace. That way the entire `app/` folder is properly autoloaded with PSR-4.

[2015-12-03 15:58] sethetter commented on #656
@barryvdh yep, I'm on board with all of that. I'm just getting back into PHP so I'll pick up these best practices along the way :)

Models have already been moved to `app/Models/` in d2499993665ac32f4acb2f29c490cd672b0278d9.

Thanks for the input!

[2015-12-03 16:00] barryvdh commented on #656
Yes I noticed you moved them, but you didn't namespace them. That was what I was referring to.

[2015-12-03 21:41] sethetter commented on #656
Models namespaced here -> d33abceb0a8bd12b8e29318ffaf43440db1d7215

[2015-12-04 16:44] #656 closed

[2015-12-04 20:41] cmbirk opened #686 "Create a migration snapshot"
With the upgrade to Laravel 5.1 from 4.2 I would like to create a database snapshot and create a clean migration chain.  That way anyone creating a fresh madison instance won't have to deal with the cruft of the last series of migrations.  I'm worried that this will negatively impact current Madison users, however.

I'm wondering if moving the current set of migrations to `database/migrations/arch

[2015-12-04 20:58] cmbirk commented on #656
@sethetter would you break out any of @barryvdh 's suggestions that you didn't implement into separate tickets?

[2015-12-04 21:04] sethetter commented on #656
@cmbirk you got it :)

[2015-12-04 21:10] sethetter commented on #686
I think that makes sense. They could just be moved back into the migration folder for when an upgrade is going to be performed. We would just need to make sure that is clear for anyone performing the upgrade.

It's starting to sound like this might be a new version stamp for Madison as well, then we could include an upgrade guide that outlines these steps. Thoughts?

The only other thing I can thi

[2015-12-07 16:35] krues8dr opened #688 "Signup appears to be hashing password twice?"
Don't know if this is fixed or not.  Needs to be forked off of Master not Dev, then re-fixed in Dev if necessary.

[2015-12-07 16:36] krues8dr opened #689 "Turn Save button back on."
Again, fork off of Master and reimplement on Dev

[2015-12-07 16:37] krues8dr opened #690 "Error on create document"
Getting the error “You must enter a document title to create a new document” and redirects to `/dashboard/docs` with a blank page.  I *think* this is fixed in `dev` somewhere, but double check.

[2015-12-07 18:07] krues8dr commented on #690
So this *was* fixed waaaay back in 71ff5a6fac21c23cb1c7a0f29c94fbcfc6af3a29  but I didn't realize at the time this occurs in *two* places because our code is duplicated for both of the document pages.  Less than ideal.  We should DRY this up sometime.

[2015-12-07 21:29] #683 closed

[2015-12-07 21:29] #684 closed

[2015-12-07 21:29] #689 closed

[2015-12-07 21:31] cmbirk commented on #690
Still getting this issue from the admin `Edit Documents` page

[2015-12-07 21:33] cmbirk commented on #690
This was a cache issue.  Closing.

[2015-12-07 21:33] #690 closed

[2015-12-07 21:33] krues8dr commented on #690
:+1:

[2015-12-07 21:40] krues8dr opened #692 "Add "preview" label to document editing view"
It's not entirely clear which pane you type in and that one is a preview at first glance, we could clean up the UX here a bit.

[2015-12-08 01:54] krues8dr opened #693 "If the featured document is private, an error is thrown."
From the featured document api route.

[2015-12-08 04:20] cmbirk opened #695 "Replace Entrust with Laravel's Gate"
We are running into some weird issues with Entrust, and need to move to the L5 Gate component.

[2015-12-08 17:26] sethetter opened #696 "Explore ES6 usage"
It's generally good to stay current with JavaScript as our base language and to take advantage of new language constructs for overall code quality improvements. We decided now is not the best to pursue this, but worth considering at some point in the future.

[Babel](https://github.com/babel/babel) is widely used and supported, this would be a good option and would fit nicely into your build proce

[2015-12-08 18:18] krues8dr opened #697 "hasRole call is failing on Laravel Forge"
I wasn't able to figure out the cause, but PHP is throwing a fatal, uncatchable error when `hasRole` is called from the `Entrust` package - but only on the new Laravel Forge server we setup.  Locally everything is working fine.  I was able to hotfix this with a custom hasRole method that just queries the correct table, but this is not a long-term solution.  We're doing #695 which will fix this per

[2015-12-08 18:31] cmbirk commented on #627
Yeah, I think that's likely the case.  I have a different build process set up for a different project that I'll take a look at real quick.  It's in gulp, but uses similar packages so I'll see if it translates

[2015-12-08 18:31] krues8dr commented on #627
It seems to work fine on the Editor so far too.

[2015-12-08 18:42] cmbirk commented on #627
Well, it looks like gulp is much better suited to handle task chain dependencies.

[2015-12-08 18:43] krues8dr commented on #627
I don't think we need to redo our entire tooling for a single error.

[2015-12-08 18:45] cmbirk commented on #627
No, there are ways to do the same thing in grunt, it's just not as clean.  May want to visit that down the road

[2015-12-08 18:46] krues8dr commented on #627
Well if it's cleanliness we're after, why not `make`?  :trollface:

[2015-12-08 18:48] cmbirk commented on #627
Aw, hell.  Let's just go back to flat HTML then... ;)

[2015-12-08 18:49] krues8dr commented on #627
:shipit:

[2015-12-08 20:21] sethetter commented on #389
I’m playing with ideas on how to set the `baseUrl` for protractor dynamically for travis / local.

The `COOKIE_SESSION` var in `.env` is the right thing to check for locally, but in Travis it looks like it will end up being something like `localhost:9000`. We can set it in an ENV var in the `travis.yml`, but pulling that into grunt locally would require using the node `dotenv` project, then checki

[2015-12-08 21:21] #697 closed

[2015-12-08 21:45] cmbirk commented on #389
I think we'll want to set it as an ENV variable in `.travis.yml`.  Which two variables are you referring to?

[2015-12-08 22:08] sethetter commented on #389
I was thinking we would need to give the ENV var for `baseUrl` a different name in travis, but I don't think that will be necessary.

For pulling in the value of `COOKIE_SESSION` locally we'll need the node dotenv tool. Any opposition to pulling that in? Since there won't be a `.env` file in travis (right?) it will just end up having no effect in the CI server, and the ENV vars should already be s

[2015-12-08 22:12] cmbirk commented on #389
That works for me

[2015-12-08 22:20] sethetter opened #699 "User registration broken after Laravel 5 upgrade"
A couple missing `use` statements in `UserManageApiController` and the `User` model. Also something not quite working with mail sending.

[2015-12-08 22:48] sethetter commented on #699
SMTP issues were due to me not having mailtrap configured. I'm going to add that to the setup doc.

[2015-12-09 16:28] #699 closed

[2015-12-10 15:13] cmbirk opened #701 "Annotation markers not appearing in righthand sidebar"
From Fraser.

I'm seeing this error in the console:

[code]

[2015-12-10 15:13] cmbirk opened #702 "Unable to create new document"
[code]

[2015-12-10 15:14] cmbirk opened #703 "Unable to approve independent sponsor"
[code]

[2015-12-10 15:15] cmbirk opened #704 "No users listed on the Verify Users page"
From Fraser.

[2015-12-10 15:16] krues8dr commented on #701
dupe of #548 I think.

[2015-12-10 15:18] krues8dr commented on #704
I definitely messed around with this endpoint in the very near past, to try and fix the fact that *all* users were showing up previously.  It's possible I stepped on something.

[2015-12-10 15:28] sethetter opened #705 "Use Laravel ACL instead of Entrust"
http://laravel.com/docs/5.1/authorization

[2015-12-10 15:28] sethetter opened #706 "Look into using Laravel Socialite for OAuth"
http://laravel.com/docs/5.1/authentication#social-authentication

[2015-12-10 15:31] sethetter opened #707 "Switch to standalone markdown plugin"
In place of Laravel specific one that we're using now.

Should use: http://commonmark.thephpleague.com/

Currently using: https://github.com/GrahamCampbell/Laravel-Markdown

[2015-12-10 15:32] cmbirk commented on #701
Yeah, possibly.  I'm not seeing the detached annotations though, it looks like they just aren't getting added.

[2015-12-10 15:33] krues8dr commented on #701
That'd happen if the previous document didn't have *any* annotations.  ;)

[2015-12-10 15:33] krues8dr commented on #701
Either way, the error is the same.

[2015-12-10 16:01] cmbirk commented on #702
Well, I'm getting another `502 Bad Gateway` error here... :rage:

[2015-12-10 16:02] krues8dr commented on #702
Lovely.  :/  I'd check first for anything that touches Entrust.

[2015-12-10 16:12] krues8dr commented on #703
`Role::where('name', 'Independent Sponsor')->first();`   This is the same Entrust problem we're seeing everywhere.

[2015-12-10 16:49] krues8dr commented on #703
Works on new box.

[2015-12-10 16:54] cmbirk commented on #702
This is resolved after installing on a clean non-forge server.  The proposed Ansible setup ( coming soon ) should solve this problem.

[2015-12-10 16:54] #702 closed

[2015-12-10 17:12] #703 closed

[2015-12-10 18:00] krues8dr commented on #704
So 1) there were no users to verify but 2) users could not request to be verified.  We should explain better how the Verification process works.

[2015-12-10 18:39] #704 closed

[2015-12-10 18:49] #693 closed

[2015-12-10 19:49] cmbirk commented on #701
This is fixed in 08501d0, but still need to deal with the other annotation weirdness moving between documents

[2015-12-10 19:49] #701 closed

[2015-12-10 20:12] sethetter opened #710 "Put `database_event` session driver back in place in Laravel 5"
[These files](https://github.com/opengovfoundation/madison/tree/08501d0eeefc8c97a93ec86e14ff06258e2abcef/app/lib/Madison) were not carried over, and thus [this config setting](https://github.com/opengovfoundation/madison/blob/08501d0eeefc8c97a93ec86e14ff06258e2abcef/app/config/session.php#L19) does not work properly. Needs to be pulled in, properly organized and namespaced, and reconfigured for se

[2015-12-15 16:46] krues8dr opened #712 "Sponsor name is missing"
On the main site, we've got a lot of empty "Sponsored by" items.  This could be due to the i18n work (not replacing the proper string), or it could be that we just don't have data here (in which case we should hide the Sponsor).

[2015-12-15 16:48] cmbirk opened #713 "Scroll to annotation after logging in"
Clicking 'reply' on an annotation in the sidebar prompts the login modal.  After logging in I'm left at the top of the page.  It should scroll down and open the annotation I was trying to reply to.

[2015-12-15 16:49] krues8dr commented on #713
Hmm.  Sounds like a bug; after submitting the modal, the screen shouldn't move at all, so scrolling back down shouldn't even be necessary.

[2015-12-15 16:49] cmbirk commented on #713
The modal refreshed the page, which lost the position

[2015-12-15 16:51] cmbirk commented on #712
I'm seeing this on the homepage.  It looks like `doc-list-item.html` doesn't check the sponsor exists before including the i18n label

[2015-12-15 16:51] krues8dr commented on #712
Should all documents have a sponsor?

[2015-12-15 16:54] cmbirk commented on #712
Yeah, they should.  We didn't originally require it, so these may be older documents that need a sponsor set.

Currently it sets the logged in user as the sponsor so this doesn't happen.

When admins were drafting documents for other users we didn't set the admin as the sponsor though and it was their responsibility to set one.

[2015-12-15 17:23] krues8dr commented on #713
This is also broken on the Discussion tab "login to comment" link, which actually loads the login page on click.

[2015-12-16 15:45] sethetter commented on #337
Closing in favor of #389

[2015-12-16 15:45] #337 closed

[2015-12-28 17:28] krues8dr opened #717 "Translation on page title showing FOUC"
When a page on Madison is shared via Facebook, etc, it's showing {{ page.title }} instead of the correct page title.  This happens on the main site for a split second as well, due to how translations are loaded.  We need a better way to handle this - maybe precompile templates?

[2016-01-04 15:36] sethetter opened #718 "Dates coming through as NaN in certain browsers"
The `parseDate` filter should use a common date format. What's coming through from Laravel is not compatible with the date engines in all browsers.

Chrome works. Firefox, Safari and IE do not.

[2016-01-04 15:36] sethetter commented on #718
Fixed in 82069bb

[2016-01-04 15:36] #718 closed

[2016-01-04 16:44] krues8dr opened #719 "Check approval process"
Currently, you can have an approved group but not be approved independently, and I'm not sure if you can create a document for the group under those circumstances (per the email this past week).  Verify that this works as expected.  We should also clean up this interface, so that you can create a document under each group (and have the proper group_id set as a result).

[2016-01-04 17:00] krues8dr commented on #719
* [ ] Add message that you can't add members to a group that is `pending`

[2016-01-04 19:33] sethetter opened #720 "Include acceptance testing with Safari"
Local Selenium set up not working as needed. Errors in builds with Sauce Labs.

[2016-01-05 18:21] krues8dr opened #721 "Display of document page is shifted"
There's a weird float/columns problem.  Though this had been previously resolved, but I assume the merge mangled it.

![screen shot 2016-01-05 at 1 21 03 pm](https://cloud.githubusercontent.com/assets/127904/12123476/306ad05e-b3af-11e5-8a96-b316fe534027.jpg)

[2016-01-05 18:22] #721 closed

[2016-01-05 18:22] krues8dr commented on #721
Ugh, cache.

[2016-01-05 18:25] cmbirk opened #722 "Verifying independent sponsor refreshes page and disappears"
This should really be like the other verifications where we can see who's verified and who isn't with the radio set on the correct status.

Right now it's refreshing the page and losing the item.

[2016-01-05 18:26] cmbirk opened #723 "Verifying independent sponsor doesn't trigger email send"
After verifying a user as an independent sponsor, they aren't sent an email notifying them.

[2016-01-05 18:30] cmbirk opened #724 "Permissions issue with creating a new document as independent sponsor"
![screen shot 2016-01-05 at 12 29 31 pm](https://cloud.githubusercontent.com/assets/764851/12123694/0c0b2904-b3a8-11e5-9eb9-d66210601ea4.png)

[2016-01-05 18:31] krues8dr commented on #722
This unfortunately doesn't work like the others, once you're denied, you are basically back to pre-pending.  We need a better way than a binary bit to handle this "properly".

[2016-01-05 18:33] cmbirk commented on #722
There can be a 'pending', 'approved', and 'rejected' set of buttons, with the rejected button removing the request and sending the user back to 'pre-pending'.  The other statuses should be shown, though, with the ability to remove a user's verified status.

[2016-01-05 19:40] cmbirk commented on #719
Throwing thoughts out here on this.

Currently the 'My Documents' page shows each group a user is in and what documents are owned by that group.  This included 'Independently Sponsored' documents.  I'm ok with that display, but could probably use a bit of design love.

If a group is pending the document list should read something like 'Pending groups cannot create documents.' in a gray, italic tex

[2016-01-05 19:42] krues8dr opened #725 "Create status for documents, instead of just public/private"
Documents shouldn't be published by default as they are now, they should have to choose to publish them - either publicly or privately - before they show up on the site when you're not part of the authoring group.

[2016-01-05 19:43] krues8dr commented on #719
I think there's friction in not allowing a user to take an action because their group is pending - after all, they shouldn't be beholden to us to interact.  For documents, this means that pending groups (and unverified users?) should be able to create documents, but not Publish them until they're verified/approved - this is dependent on #725 of course.

[2016-01-05 19:44] cmbirk commented on #719
That makes sense to me, but let's open a separate ticket on that and prioritize this one since that's a somewhat different workflow.

[2016-01-05 19:46] krues8dr commented on #719
:+1:

[2016-01-05 19:52] cmbirk opened #726 "Allow unverified users and groups to create documents"
per #719 , we should allow unverified users and groups to create documents, but the document cannot be published until the user / group is verified.

[2016-01-05 19:52] krues8dr commented on #726
Depends on #725.

[2016-01-06 02:51] krues8dr commented on #719
I made a quick patch there to add the group selection to the existing form, so this is at least not-broken for now, until we have time to address this properly.

[2016-01-06 05:53] cmbirk commented on #724
I requested independent sponsor, verified, and then tried to create a document.

I'm still getting an error here.  As an Independent Sponsor without any groups, my 'Sponsor as' select is empty.  If I put in a title and try to create a document I get the 'You do not have permission' error.

After inspecting the request, I'm seeing the request payload as

[code]

[2016-01-06 06:02] cmbirk commented on #724
Looking like the DocumentApiController is explicitly looking for admin privileges?

[code]

[2016-01-06 06:20] cmbirk commented on #724
Yeah, we need to check `User::getValidSponsors()` instead, but it returns a weird collection.  Looks like an individual user and groups are all mashed into one collection.

[2016-01-06 13:26] #710 closed

[2016-01-06 14:01] krues8dr commented on #724
Good catch - I was so focused on the groups part that I didn't re-check independent sponsors.

[2016-01-06 14:26] #688 closed

[2016-01-06 14:29] krues8dr opened #728 "Add more inline help for creating documents, managing groups & users, etc"
The entire admin area needs better documentation. We at least need to walk the user through basic actions so they know how to interact with the site.

I'd prefer inline help on the page itself, but if we need to have an entire walkthrough of how to use Madison, we need to make sure that can be easily translated - I'd suggest making a standalone set of docs for that (maybe using the Github Wiki?).

[2016-01-06 16:16] krues8dr commented on #724
That _should_ do the trick.

[2016-01-06 19:47] sethetter commented on #672
Ran into this today as well. It seems a little too easy to be typing and accidentally create a junk category. Might create quite a bit of DB clutter.

[2016-01-06 20:08] cmbirk opened #729 "User Management Admin Page"
We'll need a searchable table of users for admins, along with:

- [ ] Number of times flagged
- [ ] Independent Sponsor Status
- [ ] Groups / Group role

[2016-01-06 20:12] cmbirk opened #730 "Annotation / Comment Moderation"
We need a pane ( or separate annotation / comment panes ) in the Document Editor that shows a list of comments / annotations that includes:

- [ ] search field for annotation / comment bodies
- [ ] select2 field for a particular user
- [ ] Sort on number of flags
- [ ] Ability to 'hide' annotation / comment.

If the sponsor / admin 'hides' and annotation comment, we'll want to set a flag and load

[2016-01-06 20:15] cmbirk opened #731 "Change active tab color in document editor"
We need to change the green to the same blue color used throughout the site.  Also, the current active tab should have the color and the rest should be white.  There should probably also be a slight color change on hover for the other tabs.

[2016-01-06 20:16] cmbirk commented on #604
For now I think we decided to stick to just the homepage list of documents.

[2016-01-06 21:03] davidmooreppf opened #732 "ability for users to delete or remove documents"
Hey folks ! Jumping off emails w/ Bill, wanted to put in a suggestion for the later queue.

I'm user: https://mymadison.io/user/edit/25

Currently, on documents or /docs/107, I don't see an option to delete or remove the draft. Seems useful.

Could live under document information tab?

[2016-01-06 21:05] davidmooreppf opened #733 "user can create document, but not associated group"
Small issue, maybe idiosyncratic.

I can create a doc as user: https://mymadison.io/user/edit/25, but my associated active group, Participatory Politics Foundation (which doesn't seem to show a public identifier on Madison?) can't sponsor one as of now - gets the "there was an error submitting..." error.

Totally realize these workflows are in active development, just in case it's helpful. Delete

[2016-01-06 21:24] cmbirk commented on #733
That's great feedback.  Thanks @davidmooreppf .  We're taking a look

[2016-01-06 21:26] cmbirk commented on #732
I think this is the same as #363, which is on our immediate priority list.  For now I would say mark as private.

[2016-01-06 21:27] cmbirk commented on #732
![mark document private](https://cloud.githubusercontent.com/assets/764851/12155327/0f2e9408-b48a-11e5-95b6-55d27f1b6c6f.png)

[2016-01-06 21:46] krues8dr opened #734 "Chrome isn't breaking cache."
It looks like chrome is now ignoring cache-busting via url parameters - I had it happen earlier, and just watched it happen for Nicko.  Looks like we'll have to find a more better solution here.

[2016-01-06 21:48] krues8dr commented on #734
The thing to do is probably add the cache busting into the path to the file, and .htaccess rewrite to remove it.  e.g. `/css/fdjsaklfdjsaklfdsj/style.css` => `/css/style.css`.

[2016-01-06 21:49] cmbirk commented on #734
Does nginx use the same .htaccess file?

[2016-01-06 21:49] krues8dr commented on #734
nginx does not use .htaccess. :/

[2016-01-06 21:50] krues8dr commented on #734
We also probably should force some cache date invalidation on the templates too via headers.

[2016-01-06 21:51] cmbirk commented on #734
Yeah, that's what I thought.  Is there a comparable file for nginx, or does everything reside in the vhost?

[2016-01-06 21:52] krues8dr commented on #734
In the vhost.  Nginx compiles its config.

[2016-01-06 21:52] krues8dr commented on #734
We could symlink in the build process?

[2016-01-06 21:52] davidmooreppf commented on #732
Ha, my bad, I had looked for that checkbox and didn't see it. User failure.

[2016-01-06 21:52] #732 closed

[2016-01-06 21:53] krues8dr commented on #734
Nevermind, then we're back where we started with asset management in github.

[2016-01-06 21:53] cmbirk commented on #734
Yep, ok.  Just going to have to do a good job making it clear in documentation what the setup is for each.

[2016-01-07 19:28] #604 closed

[2016-01-07 19:34] sethetter opened #736 "Doc search on home page only searches current page"
The document search box needs to be changed to send an API query instead of just filtering the currently displayed documents.

[2016-01-07 20:54] sethetter opened #737 "Filter docs by category through API on home page"
With pagination being utilized through the API, filtering by category should also happen through the API.

[2016-01-07 22:02] krues8dr opened #738 "Checkbox for private flag not populating"
Even if a document is marked private, the checkbox isn't being checked on the document edit page.  This is only happening on the live site, my local copy doesn't have the problem.

[2016-01-07 22:13] krues8dr commented on #738
Looks like the data is being stored properly, and the API is returning the correct value.  So it's just on Angulra's side.

[2016-01-08 00:28] krues8dr commented on #738
My local copy is sending `private: "1"` whereas the live server is sending `private: 1`.  So this is apparently a difference in how the object is being json encoded by php from the API.